.offcanvas-navigation {
  ul {
    padding-left: 0;
    li {
      border-bottom: 1px solid rgba(255, 255, 255, 0.15);
      &.has-children {
        .sub-menu {
          height: 0;
          opacity: 0;
          transition: 0.3s;
          visibility: hidden;
        }
        &.active > {
          .sub-menu {
            height: 100%;
            opacity: 1;
            visibility: visible;
            padding-left: 0;
          }
        }
      }
      a {
        color: $black;
        font-size: 16px;
        font-weight: 500;
        padding: 5px 0;
        display: block;
        &:hover {
          color: $theme-color;
        }
      }
    }
  }

  .col_1384r{
    text-align: center;
    position: relative;
    width: 100%;
  }

  .offcanvas-button {
    .btn-style {
      justify-content: center;
      background-color: $white;
      border-radius: 5px;
      color: $black;
      font-size: 14px;
      border: 2px solid $theme-color;
      box-shadow: none;
      height: 35px;
      width: 80px;
      .icon-style {
        background-color: $white;
        //border-radius: 50%;
        color: $theme-color2;
        display: inline-block;
        font-size: 18px;
        height: 50px;
        line-height: 50px;
        margin-left: 18px;
        width: 50px;
        @media #{$xl-device} {
          height: 35px;
          line-height: 35px;
          margin-left: 5px;
          width: 35px;
        }
        @media #{$sm-device} {
          height: 30px;
          line-height: 30px;
          width: 30px;
          margin-left: 9px;
        }
      }
    }
    .btn-style2 {
      justify-content: center;
      background-color: $theme-color;
      border-radius: 5px;
      color: $black;
      font-size: 14px;
      border: 2px solid $theme-color;
      box-shadow: none;
      height: 35px;
      width: 120px;
      .icon-style {
        background-color: $white;
        color: $theme-color2;
        display: inline-block;
        font-size: 18px;
        height: 50px;
        line-height: 50px;
        margin-left: 18px;
        width: 50px;
        @media #{$xl-device} {
          height: 35px;
          line-height: 35px;
          margin-left: 5px;
          width: 35px;
        }
        @media #{$sm-device} {
          height: 30px;
          line-height: 30px;
          width: 30px;
          margin-left: 9px;
        }
      }
    }
  }
}
