/*
-----------------------------------------------------------------------
	Main Navigation CSS
-----------------------------------------------------------------------
*/

.main-menu {
    align-content: center;
    font-family: $font-current-theme1;

    & > li {
        margin-right: 14px;
        padding: 3px 0;

        &:last-child {
            margin-right: 0;
        }

        & > a {
            color: $black-0e;
            display: block;
            font-size: 14px;
            font-weight: $font-weight-bold;
            line-height: 22px;
            padding: 7px 25px;
            position: relative;
        }

        &:hover,
        &.active {
            & > a {
                color: $theme-color;
            }
        }
    }
}

// Sub Menu Or Dropdown Menu
.has-submenu {
    padding-right: 10px;
    position: relative;

    // Menu Item Arrows
    & > a {
        position: relative;

        &:before {
            content: "\f107";
            color: $theme-color2;
            font-size: 14px;
            line-height: 30px;
            font-family: "FontAwesome";
            position: absolute;
            right: 11px;
            top: 7px;
        }
    }

    // After Hover Sub Menu
    &:hover {
        & > .submenu-nav {
            transform: none;
            opacity: 1;
            visibility: visible;
            pointer-events: visible;
        }
    }

    // Sub Menu Style
    .submenu-nav {
        background-color: $black-111;
        border: none;
        border-bottom: none;
        padding: 15px 0 15px;
        position: absolute;
        left: -25px;
        top: 100%;
        transform: translateY(50px);
        transition: 0.4s;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        min-width: 250px;
        margin-top: 42px;
        z-index: 9999;

        @media #{$lg-device} {
            min-width: 210px;
        }

        &:before {
            content: "";
            position: absolute;
            height: 56px;
            width: 100%;
            left: 0;
            bottom: 100%;
        }

        & > li {
            padding: 9px 25px;

            a {
                color: #aaa;
                display: block;
                font-weight: $font-weight-normal;
                font-size: 14px;
                letter-spacing: inherit;
                text-transform: capitalize;
                &:hover {
                    color: $white;
                }
            }

            &:hover {
                & > a {
                    color: $white;
                }
                &:after {
                    color: $white !important;
                }
            }

            &.has-submenu {
                position: relative;

                a {
                    &:before {
                        display: none;
                    }
                }

                &:hover {
                    & > .submenu-nav {
                        transform: none;
                        opacity: 1;
                        visibility: visible;
                        pointer-events: visible;
                    }
                }

                // Sub Sub Menu Style
                .submenu-nav {
                    left: 100%;
                    top: 0;
                    margin-top: -15px;
                }
            }
        }
    }
}
