<template>
  <div>
    <jobFinder-header></jobFinder-header>
    <!-- {{ comp_detil }} -->
    <div class="mb-5" v-for="compek_head in comp_header" :key="compek_head.id">
      <section class="header-section-jobFinder">
        <img :src="'../' + compek_head.cover_img" alt="" />
        <div
          class="
            mt-50
            pt-5
            inter
            font-size
            centered-header-jobFinder
            font-size20
            text-center
          "
        >
          <!-- <img :src="'../assets/img/jobFinder/bg_tokped.png'" alt="" /> -->
          <!-- <img :src="'assets/img/jobFinder/logo_gojek.svg'" alt="" /> -->
        </div>
      </section>
      <section class="container mt-4">
        <div class="col-12 text-center">
          <h3 class="mx-auto poppins font-size22 font-weight-bold col-6">
            {{ compek_head.title }}
          </h3>
          <br />
          <p>{{ compek_head.description }}</p>
        </div>
      </section>
      <section class="container mt-4">
        <div class="row mt-5">
          <div
            class="col-3 mb-5"
            style="height: 300px !important"
            v-for="compek_detail in comp_detil.data"
            :key="compek_detail.id"
          >
            <div class="card-company text-center">
              <a :href="`/job/${compek_detail.id}-${compek_detail.job_title}`"
                        target="_blank">
                <!-- {{ comp.title }} -->
                <div
                  class="bg-whiteGrey border-radius-all p-4"
                  style="color: #000"
                >
                  <div class="inter font-size16 mt-3">
                    <b>{{ compek_detail.job_level }}</b>
                  </div>
                  <img :src="'../' + compek_head.logo" alt="" />
                  <div
                    class="
                      mt-2
                      inter
                      font-size22
                      line-height24
                      font-weight-bold
                    "
                  >
                    <b>{{ compek_detail.job_title }}</b>
                    <br>
                    <b>{{ compek_detail.salary }}</b>
                    <br>
                   <div class="inter font-size16 mt-3">
                    <b>{{ compek_detail.employment_type }}</b>
                    <br>
                    <b>{{ compek_detail.job_location }}</b>
                   </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
          <div class="mb-4 d-flex justify-content-center">
        <pagination class="custom-pagination" :data="comp_detil" @pagination-change-page="getResults"></pagination>
      </div>
      </section>
    </div>
    <jobFinder-footer></jobFinder-footer>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "JobCompany",
  data() {
    return {
      comp_header: [],
      comp_detil: {},
    };
  },
  // methods: {
  //   setCompDetail(data) {
  //     this.comp_detil = data;
  //   },
  // },
  mounted() {
    this.getResults();
   
  },
  methods:{
     getResults(page = 1) {
     axios
      .get("/api/get_company/"+ this.$route.params.key + "?page=" + page)
      .then((res) => res.data)
      .then((data) => {
        this.comp_header = data.data_header;
        this.comp_detil = data.data_detail;
      })
      .catch((error) => console.log(error));
     }
  },
};
</script>

<style>
</style>