<template>
  <div>
    <jobFinder-header></jobFinder-header>
    <div>
      <section class="header-section-jobFinder">
        <img :src="'assets/img/jobFinder/office_tokped.jpg'" alt="" />
        <div
          class="
            mt-50
            pt-5
            inter
            font-size
            centered-header-jobFinder
            font-size20
            text-center
          "
        >
          <img :src="'assets/img/jobFinder/bg_tokped.png'" alt="" />
          <!-- <img :src="'assets/img/jobFinder/logo_gojek.svg'" alt="" /> -->
        </div>
      </section>
      <section class="container mt-4">
        <div class="mt-2 pt-1 mr-20">
          <img :src="'assets/img/jobFinder/nomura_job.svg'" alt="" />
        </div>
      </section>
    </div>
    <jobFinder-footer></jobFinder-footer>
  </div>
</template>

