<template>
    <footer class="footer-section" style="background: #f1f8ff !important">
        <div class="container">
            <div class="row text-center-responsive">
                <div class="col-lg-3">
                    <div class="footer-left">
                        <img
                            class="ml-2"
                            :src="'../assets/img/jobFinder/jobFinder.png'"
                            alt=""
                            width="110"
                        />
                        <div class="mt-4">
                            <div class="text-grey font-size16 inter">
                                Dapatkan kandidat dan Perusahaan Impian anda
                                disini.
                            </div>
                        </div>
                        <div class="mt-2">
                            <div class="row">
                                <div class="col-2">
                                    <i class="fa fa-instagram mainColor"></i>
                                </div>
                                <div class="col-2">
                                    <i class="fa fa-facebook mainColor"></i>
                                </div>
                                <div class="col-2">
                                    <i class="fa fa-twitter mainColor"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 mt-4">
                    <div class="footer-widget font-size18 inter">
                        <h5 class="font-weight-bold mainColor inter">
                            Pencari Kerja
                        </h5>
                        <ul>
                            <li>
                                <router-link to="/" class="text-grey"
                                    >Lowongan dari Perusahaan</router-link
                                >
                            </li>
                            <li>
                                <router-link to="/" class="text-grey"
                                    >Lowongan dari Jabatan</router-link
                                >
                            </li>
                            <li>
                                <router-link to="/" class="text-grey"
                                    >Testimoni</router-link
                                >
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 mt-4">
                    <div class="footer-widget font-size18 inter">
                        <h5 class="font-weight-bold mainColor inter">
                            Perusahaan
                        </h5>
                        <ul>
                            <li>
                                <router-link to="/" class="text-grey"
                                    >Mulai mencari kandidat</router-link
                                >
                            </li>
                            <li>
                                <router-link to="/" class="text-grey"
                                    >Pasang Lowongan</router-link
                                >
                            </li>
                            <li>
                                <router-link to="/" class="text-grey"
                                    >Profile Perusahaan</router-link
                                >
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 mt-4">
                    <div class="footer-widget font-size18 inter">
                        <h5 class="font-weight-bold mainColor inter">
                            Tentang Job Finder
                        </h5>
                        <ul>
                            <li>
                                <router-link to="/" class="text-grey"
                                    >Tentang Kami</router-link
                                >
                            </li>
                            <li>
                                <router-link to="/" class="text-grey"
                                    >Saran</router-link
                                >
                            </li>
                            <li>
                                <router-link to="/" class="text-grey"
                                    >Hubungi kami</router-link
                                >
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</template>
<script>
export default {
    mounted() {},
};
</script>
