<template>
    <header class="header-section">
        <nav id="general_nav"
            class="
                star
                navbar navbar-expand-lg navbar-dark
                bg_color_primary
                sticky-top
                d-flex
                justify-content-between
            "
        >
            <div class="container">
                <div class="navbar-nav col-4 align-items-start">
<!--                    <div-->
<!--                        class="-->
<!--                            text-white-->
<!--                            bg_color_primary_light-->
<!--                            rounded-circle-->
<!--                            p-2-->
<!--                        "-->
<!--                    ><a href="/">-->
<!--                        <img-->
<!--                            :src="'../assets/img/jobFinder/jobFinder.png'"-->
<!--                            alt=""-->
<!--                        />-->
<!--                        </a>-->
<!--                    </div>-->
                </div>

                <div
                    class="
                        col-4
                        d-flex
                        justify-content-center
                        inter
                        font-size-16
                    "
                >
                    <div
                        class="
                            text-white
                            bg_color_primary_light
                            rounded-circle
                            p-2
                        "
                    ><a href="/">
                        <img
                            :src="'../assets/img/jobFinder/jobFinder.png'"
                            alt=""
                        />
                    </a>
                    </div>
                    <a
                        class="
                            navbar-brand
                            mainColor
                            brand_name
                            font-size20
                            inter
                            ml-5
                        "
                        href="https://jobfinder.pintarkerja.com/"
                    >
                        Home
                    </a>
                    <a
                        class="
                            navbar-brand
                            mainColor
                            brand_name
                            font-size20
                            inter
                            ml-5
                        "
                        href="https://jobfinder.pintarkerja.com/"
                    >
                        Prakerja
                    </a>
                    <a
                        class="
                            navbar-brand
                            mainColor
                            brand_name
                            font-size20
                            inter
                            ml-5
                        "
                        href="https://jobfinder.pintarkerja.com/"
                    >
                        Prakerja
                    </a>
                    <a
                        class="
                            navbar-brand
                            textWhite
                            ml-5
                            brand_name
                            font-size20
                            inter
                        "
                        href="https://pelatihan.pintarkerja.com/"
                    >
                        Pelatihan
                    </a>
                    <a
                        class="
                            navbar-brand
                            textWhite
                            ml-5
                            brand_name
                            font-size20
                            inter
                        "
                        href="https://pelatihan.pintarkerja.com/"
                    >
                        Akademik
                    </a>
                    <a
                        class="
                            navbar-brand
                            textWhite
                            ml-5
                            brand_name
                            font-size20
                            inter
                        "
                        href="https://pelatihan.pintarkerja.com/"
                    >
                        Uji Kompetensi
                    </a>
                    <a
                        class="
                            navbar-brand
                            textWhite
                            ml-5
                            brand_name
                            font-size20
                            inter
                        "
                        href="https://pelatihan.pintarkerja.com/"
                    >
                        Wirausaha
                    </a>
                    <a
                        class="
                            navbar-brand
                            textWhite
                            ml-5
                            brand_name
                            font-size20
                            inter
                        "
                        href="https://pengembangandiri.pintarkerja.com/"
                    >
                        Hire
                    </a>
                </div>

                <button
                    class="navbar-toggler ml-auto align-items-end"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div
                    class="collapse navbar-collapse col-4"
                    id="navbarNavDropdown"
                >
                    <div class="navbar-nav ml-auto">
                        <a class="btn btn-main inter font-size14" href="/login">
                        Daftar / Masuk
                        </a>
                    </div>
                    <div class="navbar-nav ml-2">
                     <li class="nav-item">
                                <!-- <language-switcher

                                ></language-switcher> -->
                            </li>
                    </div>
                </div>
            </div>
        </nav>
        <nav class="navbar navbar-dark bg-info navbar-expand d-sm-none d-md-none d-lg-none d-xl-none fixed-bottom">
       <ul class="navbar-nav nav-justified w-100">
      <li class="nav-item">
        <a href="/">
                        <img width="50px"
                            :src="'../assets/img/jobFinder/jobFinder.png'"
                            alt=""
                        />
                        </a>
      </li>
      <li class="nav-item">
        <a href="https://jobfinder.pintarkerja.com/" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a href="https://pelatihan.pintarkerja.com/" class="nav-link">Pelatihan</a>
      </li>
      <li class="nav-item">
        <a href="https://pengembangandiri.pintarkerja.com/" class="nav-link">Hire</a>
      </li>
    </ul>
  </nav>
    </header>
</template>
<style scoped>
@media (max-width: 767px) {
   #general_nav {
        visibility: hidden;
    }
}
</style>
<script>
export default {
    data() {
        return {};
    },
    created() {},
    methods: {}
};
</script>
