<template>
  <header
    class="header-area header-default transparent sticky-header"
    :class="{ 'is-sticky': isSticky }"
  >
    <div class="container-fluid">
      <div class="row">
        <div class="col_6_1338 col_lg_2_1338">
          <div class="header-logo-area">
<!--            <n-link to="/">-->
              <img class="logo-main" src="/assets/img/jobFinder/jobFinder.png" alt="Logo" />
              <img class="logo-light" src="/assets/img/jobFinder/jobFinder.png" alt="Logo" />
<!--            </n-link>-->
          </div>
        </div>
        <div class="col_6_1338 col_lg_10_1338">
          <div class="header-align">
            <div class="header-navigation-area navigation-style-two">
              <Navigation />
            </div>
            <div class="header-action-area">
              <button
                  class="header-action-area btn-style2"
                  @click="toLogin"
              >
                  Daftar / Masuk
              </button>


              <button
                class="btn-menu"
                @click="mobiletoggleClass('addClass', 'show-mobile-menu')"
              >
                <span></span>
                <span></span>
                <span></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
</template>

<script>
export default {
  components: {
    Navigation: () => import("../Navigation"),
  },

  data() {
    return {
      isSticky: false,
    };
  },

  methods: {
    // offcanvas mobile-menu
    mobiletoggleClass(addRemoveClass, className) {
      const el = document.querySelector("#offcanvas-menu");
        console.log(el)
      if (addRemoveClass === "addClass") {
        el.classList.add(className);
      } else {
        el.classList.remove(className);
      }
    },
    toLogin() {
        window.location.href='/login'
    }
  },

  mounted() {
    window.addEventListener("scroll", () => {
      let scrollPos = window.scrollY;
      if (scrollPos >= 200) {
        this.isSticky = true;
      } else {
        this.isSticky = false;
      }
    });
  },
};
</script>
