<template>
    <header class="header-section">
        <nav
            class="
                navbar navbar-expand-lg navbar-dark
                bg_color_primary
                sticky-top
                d-flex
                justify-content-between
            "
        >
            <div class="container">
                <div class="navbar-nav col-4 align-items-start">
                    <div
                        class="
                            text-white
                            bg_color_primary_light
                            rounded-circle
                            p-2
                        "
                    >
                        <img
                            :src="'assets/img/jobFinder/jobFinder.png'"
                            alt=""
                        />
                    </div>
                </div>

                <div
                    class="
                        col-4
                        d-flex
                        justify-content-center
                        inter
                        font-size-16
                    "
                >
                    <a
                        class="
                            navbar-brand
                            mainColor
                            brand_name
                            font-size20
                            inter
                            ml-5
                        "
                        href=""
                    >
                        Home
                    </a>
                    <a
                        class="
                            navbar-brand
                            textWhite
                            ml-5
                            brand_name
                            font-size20
                            inter
                        "
                        href=""
                    >
                        Pelatihan
                    </a>
                    <a
                        class="
                            navbar-brand
                            textWhite
                            ml-5
                            brand_name
                            font-size20
                            inter
                        "
                        href=""
                    >
                        Hire
                    </a>
                </div>

                <button
                    class="navbar-toggler ml-auto align-items-end"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div
                    class="collapse navbar-collapse col-4"
                    id="navbarNavDropdown"
                >
                    <div class="navbar-nav ml-auto">
                        <a class="btn btn-main inter font-size14" href="/login">
                        Daftar / Masuk
                        </a>
                    </div>
                     <!-- <div class="navbar-nav ml-2">
                        <select class="btn btn-info inter font-size14">
                        <!-- <option value="">---Pilih Bahasa---</option> -->
                        <!-- <option class="btn btn-info" value="">English</option>
                        <option class="btn btn-info" value="">Indonesia</option>
                        </select> -->
                    <!-- </div> -->
                    <div class="navbar-nav ml-2">
                     <li class="nav-item">
                                <language-switcher
                          
                                ></language-switcher>
                            </li>
                             </div>
                </div>
            </div>
        </nav>
    </header>
</template>
<script>
export default {
    data() {
        return {};
    },
    created() {},
    methods: {}
};
</script>
