<template>
<div>
  <div id="desktop-section">
    <div class="row">
    <div class="card-company text-center">
      <router-link :to="'/job-company/' + comp.id">
        <!-- {{ comp.title }} -->
        <div class="bg-whiteGrey border-radius-all p-4" style="color: #000">
          <img :src="'../' + comp.logo" alt="" />
          <div class="inter font-size16 mt-3">
            <b>{{ comp.title }}</b>
          </div>
          <div class="mt-5 inter font-size22 line-height24 font-weight-bold">
            {{ count }} Jobs
          </div>
        </div>
      </router-link>
    </div>
  </div>
  </div>
  <!-- //pembatas-desktop
  //pembatas-mobile -->
  <div id="mobile-section">
          <div class="container w-20">
            <div class="bg-white p-4 border-radius-all">
              <div class="container">
                <div class="row text-center">
                     <div class="col-lg-12 shadow mr-2">
                       <router-link :to="'/job-company/' + comp.id">
        <!-- {{ comp.title }} -->
        <div class="bg-whiteGrey border-radius-all p-4" style="color: #000">
          <img :src="'../' + comp.logo" alt="" />
          <div class="inter font-size16 mt-3">
            <b>{{ comp.title }}</b>
          </div>
          <div class="mt-5 inter font-size22 line-height24 font-weight-bold">
            {{ count }} Jobs
          </div>
        </div>
      </router-link>
                  </div>
                </div>

              </div>
            </div>
          </div>
          </div>
  </div>
</template>
<style scoped>
@media (min-width: 1200px) {
   #mobile-section {
        display:  none;
    }
    #desktop-section {
        display:  block;
    }
}
@media (min-width: 992px) {
   #mobile-section {
         display:  none;
    }
     #desktop-section {
        display:  block;
    }
}
@media (max-width: 767px) {
   #desktop-section {
        display:  none;
    }
      #mobile-section {
         display:  block;
    }
}
</style>
<script>
export default {
  name: "CardJobCompany",
  props: ["comp"],
  data() {
    return {
      count: {}
    };
  },
   mounted() {
    axios
      .get("/api/companies_jobcount/" + this.comp.id)
      .then((res) => res.data)
      .then((data) => {
        this.count = data;
      })
      .catch((error) => console.log(error));
  },
};
</script>

<style>
</style>
