<template>
  <div>
    <jobFinder-header2></jobFinder-header2>
      <OffCanvasMobileMenu />
     <div id="desktop-section">
      <!-- Jumbotron Section Begin -->
      <section class="header-section-jobFinder">
        <img :src="'assets/img/jobFinder/headerJobFinder.png'" alt="" />
        <div
          class="
            inter
            font-size46 font-weight-bold
            text-white text-center
            centered-header-jobFinder
          "
        >
          Want To Land Your Dream Job?
        </div>
        <div
          class="
            mt-5
            pt-5
            inter
            font-size
            text-white
            centered-header-jobFinder
            font-size20
            text-center
          "
        >
          Cari pekerjaan apapun yang anda impikan
        </div>

        <div class="mt-5 pt-22 centered-header-jobFinder">
          <div class="container">
            <div class="bg-white p-4 border-radius-all">
              <div class="container">
                <div class="inter-cp mb-3">Cari Pekerjaan</div>
                <div class="row text-center justify-content-center">
                  <div class="col-5">
                    <select
                      name="company_id"
                      class="form-control"
                      placeholder="Filter by Job Category"
                      @change="filterCategory($event)"
                      v-model="company_id"
                    >
                      <option disabled :value="null">
                        -- Pilih Lowongan--
                      </option>
                      <option
                        v-for="category in categories"
                        :value="category.id"
                        :key="category.id"
                      >
                        {{ category.category_name }}
                      </option>
                    </select>
                  </div>
                  <div class="col-3">
                    <select
                      v-model="job_level"
                      :key="job_level"
                      name="job_level"
                      class="form-control"
                      placeholder="Filter by Job Category"
                    >
                      <option disabled :value="null">
                        -- Pilih Jabatan --
                      </option>
                      <option value="Senior level">Senior level</option>
                      <option value="Mid level">Mid level</option>
                      <option value="Top level">Top level</option>
                      <option value="Entry level">Entry level</option>
                    </select>
                  </div>
                  <div class="col-2">
                    <select
                      v-model="job_location"
                      class="form-control"
                      id="job_location"
                      name="job_location"
                      :key="job_location"
                    >
                      <option :value="null">Lokasi</option>
                      <option value="Jakarta">Jakarta</option>
                      <option value="Depok">Depok</option>
                      <option value="Bandung">Bandung</option>
                      <option value="Cianjur">Cianjur</option>
                    </select>
                  </div>

                  <div class="col-2">
                    <button
                      class="btn btn-main btn-block"
                      target="_blank"
                      @click="searchHome"
                    >
                      Cari
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="custom-shape-divider-bottom-1643008441">
          <svg
            data-name="Layer 1"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 1200 120"
            preserveAspectRatio="none"
          >
            <path
              d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
              class="shape-fill"
            ></path>
          </svg>
        </div>
        <div class="box" style="--r1: 130%; --r2: 71.5%"></div>
      </section>
      <!-- Jumbotron Section End -->

      <!-- top companies section begin  -->
      <section class="container mt-4">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-xl-12">
            <!-- <div v-if="posts.data.length < 1">
                                <p class="card-header">No Results</p>
                                <div class="card-body bg-white text-center">
                                    <div class="card-text">
                                    <img
                                        src="images/search-not-found.png"
                                        alt="search-not-found-clip"
                                    />
                                    <h4>
                                        No Jobs found <br />
                                        <span class="text-muted font-size-12px"
                                        >Please search for another keyword.</span
                                        >
                                    </h4>
                                    </div>
                                </div>
                                </div> -->
          </div>
        </div>
        <br />
        <div class="row">
          <div class="mr-auto poppins font-size22 font-weight-bold col-6">
            Top Companies
          </div>
          <div class="col-6" style="text-align: right">
            <router-link
                class="btn btn-primary"
                to="/job-search"
             >Lihat Semua</router-link>
            <!-- <a class="btn btn-primary" :href="`/job-search`">Lihat Semua</a> -->
          </div>
        </div>
        <!-- pembatas -->
        <div class="row mt-5 mb-5">
          <div class="col-3" style="height: 300px !important" v-for="comp in card_company.slice(0, 4)" :key="comp.id">
          <CardJobCompany :comp="comp" />
          </div>
        </div>
      </section>
      <!-- top companies section end  -->

      <!-- tes kepribadian section begin -->
      <section
        class="mt-3 search-responsive-home"
        style="margin-left: 0px !important; margin-bottom: -135px !important"
      >
        <div>
          <div
            class="row"
            style="margin-left: 0px !important; margin-right: 0px !important"
          >
            <div class="float-left d-none-all" style="width: 400px">
              <img src="assets/img/jobFinder/leftbar.png" alt="" />
            </div>
            <div class="float-left d-none-all laptop-jobFinder">
              <img
                :src="'assets/img/jobFinder/laptop.png'"
                alt=""
                width="200"
              />
            </div>
            <div class="col mt-3 pl-5 ml-5">
              <div class="text-center mt-5 pt-5">
                <div class="inter font-size22 font-weight-bold">
                  Tes kepribadian Yuk
                </div>
                <div class="inter font-size16 mt-2">
                  Kami Menyediakan tes kepribadian untuk mengetahui personality,
                  karir yang diminati, dan kemahiran bahasa kamu
                </div>
                <div class="btn-main py-2 mx-auto mt-5 inter w-50">
                  Mulai Tes
                </div>
              </div>
            </div>
            <div class="float-right d-none-all rightbar-jobFinder" style="">
              <img src="assets/img/jobFinder/rightbar.png" alt="" />
            </div>
          </div>
        </div>
      </section>
      <!-- tes kepribadian section end -->

      <!-- rekomendasi pekerjaan carousel section  -->
      <section class="container">
        <div class="row">
          <div class="mr-auto poppins font-size22 font-weight-bold col-6">
            Rekomendasi pekerjaan
          </div>
        </div>
        <div class="row ml-auto">
          <div class="col-6" v-for="comp_jobs in card_perjob" :key="comp_jobs.id">
             <a :href="`/job/${comp_jobs.id}-${comp_jobs.job_title}`"
                        target="_blank">
            <div class="row mt-5 shadow mr-2">
              <div class="col-3 d-flex align-items-center">
                <img :src="'../' + comp_jobs.logo" alt="" />
              </div>
              <div class="col-5">
                <span class="font-weight-bold font-size16 line-height50 mb-1">
                  {{ comp_jobs.job_title }}
                </span>
                <br>
                <span class="text-grey">
                  <i class="fas fa-map-marker-alt"></i>
                  Lokasi : {{ comp_jobs.job_location }}
                </span>
                <br />
                <span class="text-softGrey font-size16"
                  >Sallary IDR {{ comp_jobs.salary }}/ bulan</span
                >
              </div>
              <div class="col-4 text-right">
                <span class="line-height50"
                  ><i class="fa fa-bookmark-o fa-2x mainColor"></i
                ></span>
                <br />
                <span>
                  <a class="btn btn-main roboto">
                    <i class="fa fa-calendar"></i>
                   {{ comp_jobs.deadline.slice(0, -9) }}</a
                  >
                </span>
              </div>
            </div>
             </a>
          </div>

        </div>
        <div class="col-12 mt-4" style="text-align: center">
            <router-link
                class="btn btn-primary"
                to="/job-search"
             >Lihat Semua</router-link>
            <!-- <a class="btn btn-primary" :href="`/job-search`">Lihat Semua</a> -->
          </div>
      </section>
      <!-- rekomendasi pekerjaan carousel section end  -->

      <!-- pelatihan Section  begin-->
      <section class="mt-1">
        <div>
          <div
            class="row"
            style="margin-left: 0px !important; margin-right: 0px !important"
          >
            <div class="float-left d-none-all rightbar-jobFinder">
              <img src="assets/img/jobFinder/leftbar2.png" alt="" />
            </div>

            <div class="col mt-1 pr-5 mr-5">
              <div class="text-center mt-5 pt-5">
                <div class="inter font-size22 font-weight-bold">
                  Learn Before Find Your Job
                </div>
                <div class="inter font-size16 mt-2">
                  Temukan segudang pengetahuan baru di platform learning kami,
                  agar anda lebih siap untuk masuk ke dalam dunia industri yang
                  dibutuhkan saat ini
                </div>
                <div class="btn-main py-2 mx-auto mt-5 inter w-50">
                  <a :href='"https://pintarkerja.com/"' style="color:white">
                  Go to Pintar Kerja
                  </a>
                </div>
              </div>
            </div>
            <div class="float-right d-none-all laptop-right-jobFinder">
              <img
                :src="'assets/img/jobFinder/laptop.png'"
                alt=""
                width="200"
              />
            </div>
            <div
              class="float-right d-none-all rightbar-jobFinder"
              style="width: 400px"
            >
              <img src="assets/img/jobFinder/rightbar2.png" alt="" />
            </div>
          </div>
        </div>
      </section>
      <!-- pelatihan Section End -->

      <!-- carousel penawaran kami section begin -->
      <section class="container">
        <div class="inter font-weight-bold font-size24">Penawaran Kami</div>
        <div>
          <b-carousel
            id="carousel-1"
            v-model="slide"
            :interval="4000"
            controls
            indicators
            background="#ababab"
            img-width="1024"
            img-height="480"
            style="text-shadow: 1px 1px 2px #333"
            @sliding-start="onSlideStart"
            @sliding-end="onSlideEnd"
          >
            <!-- Text slides with image -->
            <b-carousel-slide
              caption="First slide"
              text="Nulla vitae elit libero, a pharetra augue mollis interdum."
              img-src="/assets/img/jobFinder/carouselJobFinder1.png"
            ></b-carousel-slide>

            <!-- Slides with custom text -->
            <b-carousel-slide
              img-src="/assets/img/jobFinder/carouselJobFinder2.png"
            >
              <!-- <h1>Hello world!</h1> -->
            </b-carousel-slide>
          </b-carousel>
        </div>
      </section>
      <!-- carousel penawaran kami section  end-->

      <div class="mt-12"></div>
    </div>
    <!-- pembatas desktop -->

    <!-- pembatas mobile -->
    <div id="mobile-section">
      <!-- Jumbotron Section Begin -->
      <section class="header-section-jobFinder">
        <img :src="'assets/img/jobFinder/headerJobFinder.png'" alt="" />
        <div
          class="
            inter
            font-size20 font-weight-bold
            text-white text-center
            centered-header-jobFinder
          "
        >
          Want To Land Your Dream Job?
        </div>
        <div
          class="
            mt-8
            pt-5
            mb-2
            inter
            font-size
            text-white
            centered-header-jobFinder
            font-size15
            text-center
          "
        >
          Cari pekerjaan apapun yang anda impikan
        </div>

        <div class="mt-9 pt-22 centered-header-jobFinder">
          <div class="container w-20">
            <div class="p-4 border-radius-all" style="background-color:#dbddd7">
              <div class="container">
                <div class="inter-cp mb-3" style="color:#64665d">Cari Pekerjaan</div>
                <div class="row">
                  <div class="col-lg-12">
                    <select
                      name="company_id"
                      class="form-control"
                      placeholder="Filter by Job Category"
                      @change="filterCategory($event)"
                      v-model="company_id"
                    >
                      <option disabled :value="null">
                        -- Pilih Lowongan--
                      </option>
                      <option
                        v-for="category in categories"
                        :value="category.id"
                        :key="category.id"
                      >
                        {{ category.category_name }}
                      </option>
                    </select>
                  </div>
                  <div class="col-lg-12 mt-3">
                    <select
                      v-model="job_level"
                      :key="job_level"
                      name="job_level"
                      class="form-control"
                      placeholder="Filter by Job Category"
                    >
                      <option disabled :value="null">
                        -- Pilih Jabatan --
                      </option>
                      <option value="Senior level">Senior level</option>
                      <option value="Mid level">Mid level</option>
                      <option value="Top level">Top level</option>
                      <option value="Entry level">Entry level</option>
                    </select>
                  </div>
                  <br>
                  <br>
                  <div class="col-lg-12 mt-3">
                    <select
                      v-model="job_location"
                      class="form-control"
                      id="job_location"
                      name="job_location"
                      :key="job_location"
                    >
                      <option :value="null">Lokasi</option>
                      <option value="Jakarta">Jakarta</option>
                      <option value="Depok">Depok</option>
                      <option value="Bandung">Bandung</option>
                      <option value="Cianjur">Cianjur</option>
                    </select>
                  </div>
                  <br>
                  <br>
                  <div class="col-lg-12 mt-3">
                    <button
                      class="btn btn-main btn-block"
                      target="_blank"
                      @click="searchHome"
                    >
                      Cari
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="custom-shape-divider-bottom-1643008441">
          <svg
            data-name="Layer 1"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 1200 120"
            preserveAspectRatio="none"
          >
            <path
              d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
              class="shape-fill"
            ></path>
          </svg>
        </div>
        <div class="box" style="--r1: 50%; --r2: 30%"></div> -->
      </section>
      <!-- Jumbotron Section End -->

      <!-- top companies section begin  -->

       <section class="container" style="margin-top:10em">
        <div class="row">
          <div class="mr-auto poppins font-size22 font-weight-bold col-6">
            Top Companies
          </div>
          <div class="col-6" style="text-align: right">
            <router-link
                class="btn btn-primary"
                to="/job-search"
             >Lihat Semua</router-link>
            <!-- <a class="btn btn-primary" :href="`/job-search`">Lihat Semua</a> -->
          </div>
        </div>
        <!-- pembatas -->
        <div class="row mt-5 mb-5">
          <div class="col-lg-12" v-for="comp in card_company.slice(0, 4)" :key="comp.id">
          <CardJobCompany :comp="comp" />
          </div>
        </div>
       </section>
      <!-- top companies section end  -->

      <!-- tes kepribadian section begin -->
      <section
        class="mt-3 search-responsive-home"
        style="margin-left: 0px !important; margin-bottom: -135px !important"
      >
        <div>
          <div
            class="row"
            style="margin-left: 0px !important; margin-right: 0px !important"
          >
            <div class="float-left d-none-all" style="width: 400px">
              <img src="assets/img/jobFinder/leftbar.png" alt="" />
            </div>
            <div class="float-left d-none-all laptop-jobFinder">
              <img
                :src="'assets/img/jobFinder/laptop.png'"
                alt=""
                width="200"
              />
            </div>
            <div class="container">
                <div class="row text-center">
            <div class="col-lg-12 mt-3">
              <div class="text-center mb-5">
                <div class="inter font-size22 font-weight-bold">
                  Tes kepribadian Yuk
                </div>
                <div class="inter font-size16 mt-2">
                  Kami Menyediakan tes kepribadian untuk mengetahui personality,
                  karir yang diminati, dan kemahiran bahasa kamu
                </div>
                <div class="btn-main py-2 mx-auto mt-5 inter w-50">
                  Mulai Tes
                </div>
              </div>
            </div>
            </div>
            </div>
            <div class="float-right d-none-all rightbar-jobFinder" style="">
              <img src="assets/img/jobFinder/rightbar.png" alt="" />
            </div>
          </div>
        </div>
      </section>
      <!-- tes kepribadian section end -->

      <!-- rekomendasi pekerjaan carousel section  -->
      <section class="container">
        <div class="row">
          <div class="mr-auto poppins font-size22 font-weight-bold col-6">
            Rekomendasi pekerjaan
          </div>
        </div>
        <div class="row ml-auto">
          <div class="col-lg-12" v-for="comp_jobs in card_perjob" :key="comp_jobs.id">
             <a :href="`/job/${comp_jobs.id}-${comp_jobs.job_title}`"
                        target="_blank">
            <div class="row mt-5 shadow mr-2">
              <div class="col-3 d-flex align-items-center">
                <img :src="'../' + comp_jobs.logo" alt="" />
              </div>
              <div class="col-5">
                <span class="font-weight-bold font-size16 line-height50 mb-1">
                  {{ comp_jobs.job_title }}
                </span>
                <br>
                <span class="text-grey">
                  <i class="fas fa-map-marker-alt"></i>
                  Lokasi : {{ comp_jobs.job_location }}
                </span>
                <br />
                <span class="text-softGrey font-size16"
                  >Sallary IDR {{ comp_jobs.salary }}/ bulan</span
                >
              </div>
              <div class="col-4 text-right">
                <span class="line-height50"
                  ><i class="fa fa-bookmark-o fa-2x mainColor"></i
                ></span>
                <br />
                <span>
                  <a class="btn btn-main roboto">
                    <i class="fa fa-calendar"></i>
                   {{ comp_jobs.deadline.slice(0, -9) }}</a
                  >
                </span>
              </div>
            </div>
             </a>
          </div>

        </div>
        <div class="col-12 mt-4" style="text-align: center">
            <router-link
                class="btn btn-primary"
                to="/job-search"
             >Lihat Semua</router-link>
            <!-- <a class="btn btn-primary" :href="`/job-search`">Lihat Semua</a> -->
          </div>
      </section>
      <!-- rekomendasi pekerjaan carousel section end  -->

      <!-- pelatihan Section  begin-->
      <section class="mt-1">
        <div>
          <div
            class="row"
            style="margin-left: 0px !important; margin-right: 0px !important"
          >
            <div class="float-left d-none-all rightbar-jobFinder">
              <img src="assets/img/jobFinder/leftbar2.png" alt="" />
            </div>

            <div class="col-lg-12 mt-5">
              <div class="text-center mb-5">
                <div class="inter font-size22 font-weight-bold">
                  Learn Before Find Your Job
                </div>
                <div class="inter font-size16 mt-2">
                  Temukan segudang pengetahuan baru di platform learning kami,
                  agar anda lebih siap untuk masuk ke dalam dunia industri yang
                  dibutuhkan saat ini
                </div>
                <div class="btn-main py-2 mx-auto mt-5 inter w-50">
                  <a :href='"https://pintarkerja.com/"' style="color:white">
                  Go to Pintar Kerja
                  </a>
                </div>
              </div>
            </div>
            <div class="float-right d-none-all laptop-right-jobFinder">
              <img
                :src="'assets/img/jobFinder/laptop.png'"
                alt=""
                width="200"
              />
            </div>
            <div
              class="float-right d-none-all rightbar-jobFinder"
              style="width: 400px"
            >
              <img src="assets/img/jobFinder/rightbar2.png" alt="" />
            </div>
          </div>
        </div>
      </section>
      <!-- pelatihan Section End -->

      <!-- carousel penawaran kami section begin -->
      <section class="container">
        <div class="inter font-weight-bold font-size24">Penawaran Kami</div>
        <div>
          <b-carousel
            id="carousel-1"
            v-model="slide"
            :interval="4000"
            controls
            indicators
            background="#ababab"
            img-width="1024"
            img-height="480"
            style="text-shadow: 1px 1px 2px #333"
            @sliding-start="onSlideStart"
            @sliding-end="onSlideEnd"
          >
            <!-- Text slides with image -->
            <b-carousel-slide
              caption="First slide"
              text="Nulla vitae elit libero, a pharetra augue mollis interdum."
              img-src="/assets/img/jobFinder/carouselJobFinder1.png"
            ></b-carousel-slide>

            <!-- Slides with custom text -->
            <b-carousel-slide
              img-src="/assets/img/jobFinder/carouselJobFinder2.png"
            >
              <!-- <h1>Hello world!</h1> -->
            </b-carousel-slide>
          </b-carousel>
        </div>
      </section>
      <!-- carousel penawaran kami section  end-->

      <div class="mt-5"></div>
    </div>
    <jobFinder-footer></jobFinder-footer>
  </div>
</template>
<style scoped>
@media (min-width: 1200px) {
   #mobile-section {
        display:  none;
    }
    #desktop-section {
        display:  block;
    }
}
@media (min-width: 992px) {
   #mobile-section {
         display:  none;
    }
     #desktop-section {
        display:  block;
    }
}
@media (max-width: 767px) {
   #desktop-section {
        display:  none;
    }
      #mobile-section {
         display:  block;
    }
}
</style>
<script>
import axios from "axios";
import SearchResult from "./SearchResult";
import CardJobCompany from "./CardJobCompany";
export default {
  components: {
    CardJobCompany,
    SearchResult,
     //JobCompany,
    OffCanvasMobileMenu: () => import("./OffCanvasMobileMenu"),
  },
  // pages:{
  //   JobCompany
  // },
  // name: "search-bar",
  // props: ["data"],
  data() {
    return {
      categories: [],
      posts: [],
      card_company: [],
      card_perjob: [],
      slide: 0,
      sliding: null,
      company_id: "",
      job_level: "",
      job_location: "",
      dt: new Date(),
      day: 3,
    };
  },
  mounted() {
    this.setCategoies();
    // this.searchHome();
    const company_id = this.getParameterByName(
      "company_id",
      window.location.href
    );
    if (company_id !== "") {
      this.company_id = company_id;
    }
    const job_level = this.getParameterByName(
      "job_level",
      window.location.href
    );
    if (job_level !== "") {
      this.job_level = job_level;
    }
    const job_location = this.getParameterByName(
      "job_location",
      window.location.href
    );
    if (job_location !== "") {
      this.job_location = job_location;
    }
    axios
    .get("/api/companies")
    .then((res) => res.data)
                    .then((data) => {
                    this.card_company = data;
                     console.log(data.data);
                    });
    axios
    .get("/api/get_perjob")
    .then((res) => res.data)
                    .then((data) => {
                    this.card_perjob = data;
                     console.log(data.data);
                    })
   },
  methods: {
    CariSemua(){
      this.$router.push({
        path: "/jobs-by-organization",
      })
    },
    searchHome() {
       this.$router.push({ path: '/searchResult', query: {
        company_id: this.company_id,
        job_level: this.job_level,
        job_location: this.job_location,
        }
      });


      // this.$router.push({
      //   name: "searchResult",
      //   params: {
      //     key: this.company_id,
      //     key2: this.job_level,
      //     key3: this.job_location,
      //   },
      // });
    },
    //   searchHome() {
    //   this.$router.push({
    //     name: "JobCompany",
    //     params: {
    //       key: this.company_id
    //     },
    //   });
    // },
     setCompany(data) {
      this.card_company = data;
    },
    created() {
      this.searchHome();
    },
    setCategoies() {
      axios
        .get("/api/company-categories")
        .then((res) => res.data)
        .then((data) => {
          this.categories = JSON.parse(JSON.stringify(data));
        });
    },

    filterCategory(e) {
      this.$emit("gets-by-category", e.target.value);
    },
    searchByTitle() {
      //   this.$router.push({ name: "/", params: { q: title } });
      alert("sadsadad");
    },
    onSlideStart(slide) {
      this.sliding = true;
    },
    onSlideEnd(slide) {
      this.sliding = false;
    },
    //     searchByTitle() {
    //  //       alert('test');
    //   if (this.jobTitle.trim() != "") {
    //     this.$emit("searchByTitle", this.jobTitle);
    //     //alert(jobTitle);
    //   }
    // },
    getParameterByName(name, url) {
      if (!url) url = window.location.href;
      name = name.replace(/[\[\]]/g, "\\$&");
      var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
        results = regex.exec(url);
      if (!results) return null;
      if (!results[2]) return "";
      return decodeURIComponent(results[2].replace(/\+/g, " "));
    },
  },
};
</script>
