<template>
    <div>
        <!-- <jobFinder-header></jobFinder-header> -->
        <div>
            <!-- Jumbotron Section Begin -->
            <section class="header-section-jobFinder">
                <!-- <img :src="'assets/img/jobFinder/headerJobFinder.png'" alt="" /> -->
                <div
                    class="
                        inter
                        font-size46 font-weight-bold
                        text-white text-center
                        centered-header-jobFinder
                    "
                >
                    Want To Land Your Dream Job?
                </div>
                <div
                    class="
                        mt-5
                        pt-5
                        inter
                        font-size
                        text-white
                        centered-header-jobFinder
                        font-size20
                        text-center
                    "
                >
                    Cari pekerjaan apapun yang anda impikan
                </div>

                <div class="mt-5 pt-22 centered-header-jobFinder">
                    <div class="container">
                        <div class="bg-white p-4 border-radius-all">
                            <div class="container">
                                <div class="inter-cp mb-3">Cari Pekerjaan</div>
                                <div
                                    class="
                                        row
                                        text-center
                                        justify-content-center
                                    "
                                >
                                    <div class="col-3">
                                         <select
                                            name="job_level"
                                            class="form-control"
                                            placeholder="Filter by Job Category"
                                            @change="filterJobLevel($event)"
                                            >
                                            <option disabled selected value>
                                                -- Pilih Jabatan --
                                            </option>
                                            <option value="Senior level">Senior level</option>
                                            <option value="Mid level">Mid level</option>
                                            <option value="Top level">Top level</option>
                                            <option value="Entry level">Entry level</option>
                                            </select>
                                    </div>
                                    <div class="col-5">
                                         <select
                                            name="company_id"
                                            class="form-control"
                                            placeholder="Filter by Job Category"
                                            @change="filterCategory($event)"
                                            >
                                            <option disabled selected value>
                                                -- Pilih Lowongan--
                                            </option>
                                            <option
                                                v-for="category in categories"
                                                :value="category.id"
                                                :key="category.id"
                                            >
                                                {{ category.category_name }}
                                            </option>
                                            </select>
                                    </div>
                                    <div class="col-2">
                                        <select
                                            class="form-control"
                                            id="job_location"
                                            name="job_location"
                                        >
                                            <option>Lokasi</option>
                                            <option>Jakarta</option>
                                            <option>Depok</option>
                                            <option>Bandung</option>
                                            <option>Cianjur</option>
                                        </select>
                                    </div>

                                    <div class="col-2">
                                        <button class="btn btn-main btn-block" target="_blank" @click="searchByTitle">
                                            Cari
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="custom-shape-divider-bottom-1643008441">
                    <svg
                        data-name="Layer 1"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 1200 120"
                        preserveAspectRatio="none"
                    >
                        <path
                            d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
                            class="shape-fill"
                        ></path>
                    </svg>
                </div>
                <div class="box" style="--r1: 130%; --r2: 71.5%"
                ></div>

                <!-- <div
                    class="jumbotron"
                    style="
                        background: url(img/bg.jpg) no-repeat center center
                            fixed;
                        -webkit-background-size: cover;
                        -moz-background-size: cover;
                        -o-background-size: cover;
                        background-size: cover;
                    "
                >
                    <h1>Hello</h1>
                </div> -->
            </section>
            <!-- Jumbotron Section End -->

            <!-- top companies section begin  -->
            <section class="container mt-4">
                <div class="row">
                    <div
                        class="
                            mr-auto
                            poppins
                            font-size22 font-weight-bold
                            col-6
                        "
                    >
                        Top Companies
                    </div>
                    <div class="col-6" style="text-align: right;">
                        <!-- <router-link
                            class="text-right d-block"
                            to="/search"
                            >Lihat Semua</router-link
                        > -->
                           <a
                            class="btn btn-primary"
                            href="/search"
                            >Lihat Semua</a
                        >
                    </div>
                </div>
                <!-- <sidebar-component></sidebar-component> -->
                      <!-- <sidebar-component/> -->
                <!-- <app-component /> -->
                <!-- pembatas post -->
                    <!-- <div class="posts">
      <div class="card mt-3 hover-shadow" v-for="post in posts" :key="post.id">
        <div class="card-body">
          <div class="col-sm-12 col-md-12 col-12 col-lg-12">
            <div class="row align-items-center text-center text-lg-left">
              <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3 pt-2 mx-auto">
                <img
                  class="border p-2 img-fluid"
                  :src="`/${post.company.logo}`"
                  width="100px"
                />
              </div>
              <div
                class="col-xs-12 col-sm-12 col-md-9 col-lg-9 pl-0 pl-md-2 pb-2"
              >
                <h5 class="secondary-link font-weight-bold">
                  <a
                    :href="`/job/${post.id}-${post.job_title}`"
                    target="_blank"
                  >
                    {{ post.job_title }}
                  </a>
                </h5>
                <h6 class="mt-2">
                  <a
                    :href="`/employer/${post.company.id}-${post.company.title}`"
                    target="_blank"
                    class="text-dark"
                  >
                    {{ post.company.title }}
                  </a>
                </h6>

                <div class="small my-1">
                  <span>Alamat: </span>
                  <span>{{ post.job_location }}</span>
                </div>

                <div class="small">
                  <span class="text-muted">Syarat Keterampilan:</span>
                  <span class="text-info">
                    {{ post.skills }}
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer py-2">
          <div class="d-inline">
            <span class="text-muted">
              <i class="fas fa-clock"></i> Lamar Sebelum:
              {{ post.deadline.slice(0, -9) }}</span
            >
          </div>
          <div class="d-inline float-right">
            <span class="text-muted mr-2">
              <span class="fas fa-eye mr-1"></span>
              Dilihat: {{ post.views }}
            </span>
          </div>
        </div>
      </div>
    </div> -->
                <!-- pembatas -->
                <div class="row mt-5">
                    <div class="col text-center">
                         <router-link to="/JobTokped">
                        <div class="bg-whiteGrey border-radius-all p-4" style="color:#000">
                            <img
                                :src="'assets/img/jobFinder/tokopedia.png'"
                                alt=""
                            />
                            <div class="inter font-size16 mt-3">
                                Aplikasi bergerak bidang jasa antar
                            </div>
                            <div
                                class="
                                    mt-5
                                    inter
                                    font-size22
                                    line-height24
                                    font-weight-bold
                                "
                            >
                                200 Jobs
                            </div>
                        </div>
                        </router-link>
                    </div>
                    <div class="col text-center">
                         <router-link to="/JobGojek">
                        <div class="bg-whiteGrey border-radius-all p-4" style="color:#000">
                            <img
                                :src="'assets/img/jobFinder/gojek.png'"
                                alt=""
                            />
                            <div class="inter font-size16 mt-3">
                                Aplikasi bergerak bidang jasa antar
                            </div>
                            <div
                                class="
                                    mt-5
                                    inter
                                    font-size22
                                    line-height24
                                    font-weight-bold
                                "
                            >
                                200 Jobs
                            </div>
                        </div>
                         </router-link>
                    </div>
                    <div class="col text-center">
                        <div class="bg-whiteGrey border-radius-all p-4">
                            <img
                                :src="'assets/img/jobFinder/mandiri.png'"
                                alt=""
                                width="80"
                                height="35.99"
                            />
                            <div class="inter font-size16 mt-3">
                                Aplikasi bergerak bidang Perbankan
                            </div>
                            <div
                                class="
                                    mt-5
                                    inter
                                    font-size22
                                    line-height24
                                    font-weight-bold
                                "
                            >
                                200 Jobs
                            </div>
                        </div>
                    </div>
                    <div class="col text-center">
                        <!-- <router-link to="/tokopedia"> -->
                        <div class="bg-whiteGrey border-radius-all p-4">
                            <img
                                :src="'assets/img/jobFinder/tokopedia.png'"
                                alt=""
                            />
                            <div class="inter font-size16 mt-3">
                                Aplikasi bergerak bidang jasa antar
                            </div>
                            <div
                                class="
                                    mt-5
                                    inter
                                    font-size22
                                    line-height24
                                    font-weight-bold
                                "
                            >
                                200 Jobs
                            </div>
                        </div>
                        <!-- </router-link> -->
                    </div>
                </div>
            </section>
            <!-- top companies section end  -->

            <!-- tes kepribadian section begin -->
            <section
                class="mt-3 search-responsive-home"
                style="
                    margin-left: 0px !important;
                    margin-bottom: -135px !important;
                "
            >
                <div>
                    <div
                        class="row"
                        style="
                            margin-left: 0px !important;
                            margin-right: 0px !important;
                        "
                    >
                        <div class="float-left d-none-all" style="width: 400px">
                            <img
                                src="assets/img/jobFinder/leftbar.png"
                                alt=""
                            />
                        </div>
                        <div class="float-left d-none-all laptop-jobFinder">
                            <img
                                :src="'assets/img/jobFinder/laptop.png'"
                                alt=""
                                width="200"
                            />
                        </div>
                        <div class="col mt-3 pl-5 ml-5">
                            <div class="text-center mt-5 pt-5">
                                <div class="inter font-size22 font-weight-bold">
                                    Tes kepribadian Yuk
                                </div>
                                <div class="inter font-size16 mt-2">
                                    Kami Menyediakan tes kepribadian untuk
                                    mengetahui personality, karir yang diminati,
                                    dan kemahiran bahasa kamu
                                </div>
                                <div
                                    class="
                                        btn-main
                                        py-2
                                        mx-auto
                                        mt-5
                                        inter
                                        w-50
                                    "
                                >
                                    Mulai Tes
                                </div>
                            </div>
                        </div>
                        <div
                            class="float-right d-none-all rightbar-jobFinder"
                            style=""
                        >
                            <img
                                src="assets/img/jobFinder/rightbar.png"
                                alt=""
                            />
                        </div>
                    </div>
                </div>
            </section>
            <!-- tes kepribadian section end -->

            <!-- rekomendasi pekerjaan carousel section  -->
            <section class="container">
                <div class="row">
                    <div
                        class="
                            mr-auto
                            poppins
                            font-size22 font-weight-bold
                            col-6
                        "
                    >
                        Rekomendasi pekerjaan
                    </div>
                </div>
                <div class="row ml-auto">
                    <div class="col-6">
                        <div class="row mt-5 shadow mr-2">
                            <div class="col-3 d-flex align-items-center">
                                <img
                                    :src="'assets/img/jobFinder/gojek.png'"
                                    alt=""
                                />
                            </div>
                            <div class="col-5">
                                <span
                                    class="
                                        font-weight-bold font-size16
                                        line-height50
                                    "
                                >
                                    UI UX designer
                                </span>
                                <br />
                                <span class="text-grey">
                                    <i class="fas fa-map-marker-alt"></i>
                                    Jakarta, Indonesia
                                </span>
                                <br />
                                <span class="text-softGrey font-size16"
                                    >Sallary IDR 4jt - 8 jt/ bulan</span
                                >
                            </div>
                            <div class="col-4 text-right">
                                <span class="line-height50"
                                    ><i
                                        class="fa fa-bookmark-o fa-2x mainColor"
                                    ></i
                                ></span>
                                <br />
                                <span>
                                    <a class="btn btn-main roboto">
                                        <i class="fa fa-calendar"></i>
                                        10 Days Left</a
                                    >
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row mt-5 shadow mr-2">
                            <div class="col-3 d-flex align-items-center">
                                <img
                                    :src="'assets/img/jobFinder/gojek.png'"
                                    alt=""
                                />
                            </div>
                            <div class="col-5">
                                <span
                                    class="
                                        font-weight-bold font-size16
                                        line-height50
                                    "
                                >
                                    UI UX designer
                                </span>
                                <br />
                                <span class="text-grey">
                                    <i class="fas fa-map-marker-alt"></i>
                                    Jakarta, Indonesia
                                </span>
                                <br />
                                <span class="text-softGrey font-size16"
                                    >Sallary IDR 4jt - 8 jt/ bulan</span
                                >
                            </div>
                            <div class="col-4 text-right">
                                <span class="line-height50"
                                    ><i
                                        class="fa fa-bookmark-o fa-2x mainColor"
                                    ></i
                                ></span>
                                <br />
                                <span>
                                    <a class="btn btn-main roboto">
                                        <i class="fa fa-calendar"></i>
                                        10 Days Left</a
                                    >
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row mt-5 shadow mr-2">
                            <div class="col-3 d-flex align-items-center">
                                <img
                                    :src="'assets/img/jobFinder/gojek.png'"
                                    alt=""
                                />
                            </div>
                            <div class="col-5">
                                <span
                                    class="
                                        font-weight-bold font-size16
                                        line-height50
                                    "
                                >
                                    UI UX designer
                                </span>
                                <br />
                                <span class="text-grey">
                                    <i class="fas fa-map-marker-alt"></i>
                                    Jakarta, Indonesia
                                </span>
                                <br />
                                <span class="text-softGrey font-size16"
                                    >Sallary IDR 4jt - 8 jt/ bulan</span
                                >
                            </div>
                            <div class="col-4 text-right">
                                <span class="line-height50"
                                    ><i
                                        class="fa fa-bookmark-o fa-2x mainColor"
                                    ></i
                                ></span>
                                <br />
                                <span>
                                    <a class="btn btn-main roboto">
                                        <i class="fa fa-calendar"></i>
                                        10 Days Left</a
                                    >
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row mt-5 shadow mr-2">
                            <div class="col-3 d-flex align-items-center">
                                <img
                                    :src="'assets/img/jobFinder/gojek.png'"
                                    alt=""
                                />
                            </div>
                            <div class="col-5">
                                <span
                                    class="
                                        font-weight-bold font-size16
                                        line-height50
                                    "
                                >
                                    UI UX designer
                                </span>
                                <br />
                                <span class="text-grey">
                                    <i class="fas fa-map-marker-alt"></i>
                                    Jakarta, Indonesia
                                </span>
                                <br />
                                <span class="text-softGrey font-size16"
                                    >Sallary IDR 4jt - 8 jt/ bulan</span
                                >
                            </div>
                            <div class="col-4 text-right">
                                <span class="line-height50"
                                    ><i
                                        class="fa fa-bookmark-o fa-2x mainColor"
                                    ></i
                                ></span>
                                <br />
                                <span>
                                    <a class="btn btn-main roboto">
                                        <i class="fa fa-calendar"></i>
                                        10 Days Left</a
                                    >
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-4">
                    <button
                        class="
                            btn btn-main
                            p-1
                            d-block
                            mx-auto
                            border-radius-all
                            inter
                        "
                    >
                        Cari Semua
                    </button>
                </div>
            </section>
            <!-- rekomendasi pekerjaan carousel section end  -->

            <!-- pelatihan Section  begin-->
            <section class="mt-1">
                <div>
                    <div
                        class="row"
                        style="
                            margin-left: 0px !important;
                            margin-right: 0px !important;
                        "
                    >
                        <div class="float-left d-none-all rightbar-jobFinder">
                            <img
                                src="assets/img/jobFinder/leftbar2.png"
                                alt=""
                            />
                        </div>

                        <div class="col mt-1 pr-5 mr-5">
                            <div class="text-center mt-5 pt-5">
                                <div class="inter font-size22 font-weight-bold">
                                    Learn Before Find Your Job
                                </div>
                                <div class="inter font-size16 mt-2">
                                    Temukan segudang pengetahuan baru di
                                    platform learning kami, agar anda lebih siap
                                    untuk masuk ke dalam dunia industri yang
                                    dibutuhkan saat ini
                                </div>
                                <div
                                    class="
                                        btn-main
                                        py-2
                                        mx-auto
                                        mt-5
                                        inter
                                        w-50
                                    "
                                >
                                    Go to Pintar Kerja
                                </div>
                            </div>
                        </div>
                        <div
                            class="
                                float-right
                                d-none-all
                                laptop-right-jobFinder
                            "
                        >
                            <img
                                :src="'assets/img/jobFinder/laptop.png'"
                                alt=""
                                width="200"
                            />
                        </div>
                        <div
                            class="float-right d-none-all rightbar-jobFinder"
                            style="width: 400px"
                        >
                            <img
                                src="assets/img/jobFinder/rightbar2.png"
                                alt=""
                            />
                        </div>
                    </div>
                </div>
            </section>
            <!-- pelatihan Section End -->

            <!-- carousel penawaran kami section begin -->
            <section class="container">
                <div class="inter font-weight-bold font-size24">
                    Penawaran Kami
                </div>
            <div>
            <b-carousel
            id="carousel-1"
            v-model="slide"
            :interval="4000"
            controls
            indicators
            background="#ababab"
            img-width="1024"
            img-height="480"
            style="text-shadow: 1px 1px 2px #333;"
            @sliding-start="onSlideStart"
            @sliding-end="onSlideEnd"
            >
            <!-- Text slides with image -->
            <b-carousel-slide
                caption="First slide"
                text="Nulla vitae elit libero, a pharetra augue mollis interdum."
                img-src="/assets/img/jobFinder/carouselJobFinder1.png"
            ></b-carousel-slide>

            <!-- Slides with custom text -->
            <b-carousel-slide img-src="/assets/img/jobFinder/carouselJobFinder2.png">
                <!-- <h1>Hello world!</h1> -->
            </b-carousel-slide>

            <!-- Slides with image only
            <b-carousel-slide img-src="https://picsum.photos/1024/480/?image=58"></b-carousel-slide> -->

            <!-- Slides with img slot -->
            <!-- Note the classes .d-block and .img-fluid to prevent browser default image alignment -->
            <!-- <b-carousel-slide>
                <template #img>
                <img
                    class="d-block img-fluid w-100"
                    width="1024"
                    height="480"
                    src="https://picsum.photos/1024/480/?image=55"
                    alt="image slot"
                >
                </template>
            </b-carousel-slide> -->

            <!-- Slide with blank fluid image to maintain slide aspect ratio -->
            <!-- <b-carousel-slide caption="Blank Image" img-blank img-alt="Blank image">
                <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eros felis, tincidunt
                a tincidunt eget, convallis vel est. Ut pellentesque ut lacus vel interdum.
                </p>
            </b-carousel-slide> -->
            </b-carousel>

    <!-- <p class="mt-4">
      Slide #: {{ slide }}<br>
      Sliding: {{ sliding }}
    </p> -->
  </div>
            </section>
            <!-- carousel penawaran kami section  end-->

            <div class="mt-12"></div>
        </div>
        <jobFinder-footer></jobFinder-footer>
    </div>
</template>

<script>
import Sidebar from "./Sidebar";
//import AppComponent from "./AppComponent";
// import SearchBar from "./SearchBar";
 export default {
//    name: "app-component",
 //  name: "sidebar-component",
  components: {
    Sidebar,
  },
    // name: "search-bar",
   // props: ["posts"],  
    data() {
      return {
        categories: [],
        slide: 0,
        sliding: null,
        jobTitle: null
      }
    },
    mounted() {
    this.setCategoies();
    const q = this.getParameterByName("q", window.location.href);
    if (q !== "") {
      this.jobTitle = q;
    }
  },
    methods: {
      setCategoies() {
      axios
        .get("/api/company-categories")
        .then((res) => res.data)
        .then((data) => {
          this.categories = JSON.parse(JSON.stringify(data));
        });
    },
    filterCategory(e) {
      this.$emit("gets-by-category", e.target.value);
    },    
        searchByTitle(){
    //   this.$router.push({ name: "/", params: { q: title } });
    alert("sadsadad");
    },
      onSlideStart(slide) {
        this.sliding = true
      },
      onSlideEnd(slide) {
        this.sliding = false
      },
    //     searchByTitle() {
    //  //       alert('test');
    //   if (this.jobTitle.trim() != "") {
    //     this.$emit("searchByTitle", this.jobTitle);
    //     //alert(jobTitle);
    //   }
    // },
    getParameterByName(name, url) {
      if (!url) url = window.location.href;
      name = name.replace(/[\[\]]/g, "\\$&");
      var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
        results = regex.exec(url);
      if (!results) return null;
      if (!results[2]) return "";
      return decodeURIComponent(results[2].replace(/\+/g, " "));
    },

    }
  }
</script>