<template>
  <div>
    <!-- <jobFinder-header></jobFinder-header> -->
    <div>
      <!-- Jumbotron Section Begin -->
      <section class="header-section-jobFinder">
        <img :src="'assets/img/jobFinder/headerJobFinder.png'" alt="" />
        <div
          class="
            inter
            font-size46 font-weight-bold
            text-white text-center
            centered-header-jobFinder
          "
        >
          Want To Land Your Dream Job?
        </div>
        <div
          class="
            mt-5
            pt-5
            inter
            font-size
            text-white
            centered-header-jobFinder
            font-size20
            text-center
          "
        >
          Cari pekerjaan apapun yang anda impikan
        </div>
        <!-- <div v-for="post in posts_card.data" :key="post.id"> -->
        <SearchResult :posts_card="posts_card"/>
        <!-- </div> -->
      </section>
      <!-- carousel penawaran kami section  end-->

      <div class="mt-12"></div>
    </div>
    <jobFinder-footer></jobFinder-footer>
  </div>
</template>

<script>
import axios from "axios";
import SearchResultUser from "./SearchResultUser";
export default {
  components: {
    SearchResultUser,
  },
  // name: "search-bar",
  // props: ["data"],
 
  methods: {
    searchByTitle() {  //   this.$router.push({ name: "/", params: { q: title } });
      alert("sadsadad");
    },
    onSlideStart(slide) {
      this.sliding = true;
    },
    onSlideEnd(slide) {
      this.sliding = false;
    },
    //     searchByTitle() {
    //  //       alert('test');
    //   if (this.jobTitle.trim() != "") {
    //     this.$emit("searchByTitle", this.jobTitle);
    //     //alert(jobTitle);
    //   }
    // },
    getParameterByName(name, url) {
      if (!url) url = window.location.href;
      name = name.replace(/[\[\]]/g, "\\$&");
      var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
        results = regex.exec(url);
      if (!results) return null;
      if (!results[2]) return "";
      return decodeURIComponent(results[2].replace(/\+/g, " "));
    },
  },
};
</script>