<template>
    <div class="mobile-navigation">
        <nav class="offcanvas-navigation" id="offcanvas-navigation">
            <ul>
                <li>
                    <router-link to="'/'">
                        Home
                    </router-link>
                </li>
                <li>
                    <a href="https://jobfinder.pintarkerja.com">Cari Kerja</a>
                </li>
                <li>
                    <a href="https://pintarkerja.com/prakerja">Prakerja</a>
                </li>
                <li>
                    <a href="https://pelatihan.pintarkerja.com">Pelatihan</a>
                </li>
                <li>
                    <a href="https://akademik.pintarkerja.com/">Akademik</a>
                </li>
                <li>
                    <a href="https://uji-kompetensi.pintarkerja.com">Uji Kompetensi</a>
                </li>
                <li>
                    <a href="https://wirausaha.pintarkerja.com">Wirausaha</a>
                </li>
                <li>
                    <a href="https://pengembangandiri.pintarkerja.com"
                    >Pengembangan Diri</a
                    >
                </li>
                <li>
                    <a href="https://pintarkerja.com/about">Tentang</a>
                </li>
            </ul>
            <div class="col_1384r">
                <div class="offcanvas-button">
                    <button
                        class="btn-style2"
                        @click="toLogin"
                    > Daftar / Masuk
                    </button>
                </div>
            </div>
        </nav>
    </div>
</template>

<script>
export default {
    methods: {
        toLogin() {
            window.location.href = '/login'
        }
    },
    mounted() {
        const offCanvasNav = document.querySelector("#offcanvas-navigation");
        const offCanvasNavSubMenu = offCanvasNav.querySelectorAll(".sub-menu");
        const anchorLinks = offCanvasNav.querySelectorAll("a");

        for (let i = 0; i < offCanvasNavSubMenu.length; i++) {
            offCanvasNavSubMenu[i].insertAdjacentHTML(
                "beforebegin",
                "<span class='menu-expand'><i></i></span>"
            );
        }

        const menuExpand = offCanvasNav.querySelectorAll(".menu-expand");
        const numMenuExpand = menuExpand.length;

        for (let i = 0; i < numMenuExpand; i++) {
            menuExpand[i].addEventListener("click", (e) => {
                sideMenuExpand(e);
            });
        }

        for (let i = 0; i < anchorLinks.length; i++) {
            anchorLinks[i].addEventListener("click", () => {
                closeMobileMenu();
            });
        }

        const sideMenuExpand = (e) => {
            e.currentTarget.parentElement.classList.toggle("active");
        };
        const closeMobileMenu = () => {
            const offcanvasMobileMenu = document.querySelector(
                "#offcanvas-mobile-menu"
            );
            offcanvasMobileMenu.classList.remove("active");
        };
    },
};
</script>
