<template>
  <ul class="main-menu nav justify-content-center">
    <li>
        <router-link :to="'/'">Home</router-link>
    </li>
    <li>
        <a href="https://pintarkerja.com/prakerja">Prakerja</a>
    </li>
    <li>
      <a href="https://pelatihan.pintarkerja.com">Pelatihan</a>
    </li>
    <li>
      <a href="https://akademik.pintarkerja.com/">Akademik</a>
    </li>
    <li>
      <a href="https://uji-kompetensi.pintarkerja.com">Uji Kompetensi</a>
    </li>
    <li>
      <a href="https://wirausaha.pintarkerja.com">Wirausaha</a>
    </li>
    <li>
      <a href="https://pengembangandiri.pintarkerja.com">Pengembangan Diri</a>
    </li>
    <li>
        <a href="https://pintarkerja.com/about">Tentang</a>
    </li>
  </ul>
</template>

<script>
export default {
  components: {
    // Prakerja: () => import('@/pages/prakerja'),
  },
};
</script>
