<template>
  <div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarTogglerDemo01"
          aria-controls="navbarTogglerDemo01"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <a class="navbar-brand" href="/"
            ><img :src="'../assets/img/jobFinder/jobFinder.png'" alt=""
          /></a>
          <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pelatihan</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" tabindex="-1" aria-disabled="true"
                >Hire</a
              >
            </li>
          </ul>
          <form class="d-flex mr-9">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">
              Search
            </button>
          </form>
          <div class="navbar-nav ml-2">
            <a class="btn btn-main inter font-size14" href="/login"
              >Daftar / Masuk</a
            >
          </div>
        </div>
      </div>
    </nav>
    <div class="col-sm-12 col-md-12 col-xl-12" style="padding:20px">
      <div v-if="posts.length < 1">
        <p class="card-header">No Results</p>
        <div class="card-body bg-white text-center">
          <div class="card-text">
            <img
              src="images/search-not-found.png"
              alt="search-not-found-clip"
            />
            <h4>
              No Jobs found <br />
              <span class="text-muted font-size-12px"
                >Please search for another keyword.</span
              >
            </h4>
          </div>
        </div>
      </div>
      <div class="card" v-else>
        <div class="search-result">
          <div class="card mt-md-0 mt-3">
            <div class="card-body row p-3">
              <div class="col-6">
                <h1 class="h6" id="job-count">
                  Menampilkan {{ posts.from }} - {{ posts.to }} dari
                  {{ posts.total }}
                </h1>
              </div>
              <div class="col-6">
                <ul class="nav nav-inline float-right">
                  <li class="nav-item mr-3">
                    <a href="#" class="text-secondary">
                      <span class="icon-calendar"></span>
                      Di posting: <span id="date_val"> Sepanjang Hari</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="posts">
            <div
              class="card mt-3 hover-shadow"
              v-for="post in posts.data"
              :key="post.id"
            >
              <div class="card-body">
                <div class="col-sm-12 col-md-12 col-12 col-lg-12">
                  <div class="row align-items-center text-center text-lg-left">
                    <div
                      class="
                        col-xs-4 col-sm-4 col-md-3 col-lg-3
                        pt-2
                        text-center
                      "
                    >
                      <img
                        class="border p-2 img-fluid"
                        :src="`/${post.logo}`"
                        width="100px"
                      /><br /><a
                        class="btn inter font-size14 mt-2"
                        :href="`/job/${post.id}-${post.job_title}`"
                        target="_blank"
                        style="background-color: #e60078; color: #ffffff"
                        >Lamar Sekarang</a
                      >
                    </div>
                    <div
                      class="
                        col-xs-12 col-sm-12 col-md-9 col-lg-9
                        pl-0 pl-md-2
                        pb-2
                      "
                    >
                      <h5 class="secondary-link font-weight-bold">
                        <a
                          :href="`/job/${post.id}-${post.job_title}`"
                          target="_blank"
                        >
                          {{ post.job_title }}
                        </a>
                      </h5>
                      <h6 class="mt-2">
                        <a
                          :href="`/employer/${post.id}-${post.title}`"
                          target="_blank"
                          class="text-dark"
                        >
                          {{ post.title }}
                        </a>
                      </h6>

                      <div class="small my-1">
                        <span>Alamat: </span>
                        <span>{{ post.job_location }}</span>
                      </div>

                      <div class="small">
                        <span class="text-muted">Salary:</span>
                        <span class="text-info">
                          {{ post.salary }} || {{ post.job_level }}
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer py-2">
                <div class="d-inline">
                  <span class="text-muted">
                    <i class="fas fa-clock"></i> Lamar Sebelum:
                    {{ post.deadline.slice(0, -9) }}</span
                  >
                </div>
                <div class="d-inline float-right">
                  <span class="text-muted mr-2">
                    <span class="fas fa-eye mr-1"></span>
                    Dilihat: {{ post.views }}
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="my-4 text-center small">
          <div class="d-block py-2 text-muted">
            {{ posts.total }} Total Jobs found with matching search
          </div>
          <div class="mb-4 d-flex justify-content-center">
            <pagination
              class="custom-pagination"
              :data="posts"
              @pagination-change-page="getResults"
            ></pagination>
          </div>
        </div>
      </div>
    </div>
    <jobFinder-footer></jobFinder-footer>
  </div>
</template>

<script>
export default {
  name: "searchResult",
  // props: ["posts", "from", "to", "total"],
  // props: ["from", "to", "total"],
  data() {
    return {
      posts: {},
    };
  },
  watch: {
    "$route.query.company_id"() {
      this.$Progress.start();
      this.searchHome();
      this.$Progress.finish();
    },
    "$route.query.job_level"() {
      this.$Progress.start();
      this.searchHome();
      this.$Progress.finish();
    },
    "$route.query.job_location"() {
      this.$Progress.start();
      this.searchHome();
      this.$Progress.finish();
    },
  },
  created() {
    this.searchHome();
    // this.getJobs();
  },
  mounted() {
    this.getResults();
  },
  methods: {
    searchHome() {
      if (this.$route.query.company_id !== null || this.$route.query.job_level !== null || this.$route.query.job_location !== null ) {
     // this.loading = true;
      axios
        .get(
          `/api/search_self?company_id=${this.$route.query.company_id}&&job_level=${this.$route.query.job_level}&&job_location=${this.$route.query.job_location}`
        )
        .then((res) => res.data)
        .then((data) => {
          this.posts = data;
         //console.log(data);
        });
      }else if (this.$route.query.company_id !== null && this.$route.query.job_level == null && this.$route.query.job_location == null ){
       // this.loading = true;
      axios
        .get(
          `/api/search_self?company_id=${this.$route.query.company_id}&&job_level=&&job_location=`
        )
        .then((res) => res.data)
        .then((data) => {
          this.posts = data;
         //console.log(data);
        });
      }else if (this.$route.query.job_level !== null){
         // this.loading = true;
         axios
        .get(
          `/api/search_self?job_level=${this.$route.query.job_level}`
        )
        .then((res) => res.data)
        .then((data) => {
          this.posts = data;
         //console.log(data);
        });
      }else if (this.$route.query.job_location !== null){
          //this.loading = true;
         axios
        .get(
          `/api/search_self?job_location=${this.$route.query.job_location}`
        )
        .then((res) => res.data)
        .then((data) => {
          this.posts = data;
         //console.log(data);
        });
      }else{
         //this.loading = true;
         axios
        .get(
          `/api/search_self`
        )
        .then((res) => res.data)
        .then((data) => {
          this.posts = data;
         //console.log(data);
        });
      }
    },
    getResults(page = 1) {
       if (this.$route.query.company_id !== null || this.$route.query.job_level !== null || this.$route.query.job_location != null ) {
      axios
        .get(
          `/api/search_self?page=${page}&company_id=${this.$route.query.company_id}&&job_level=${this.$route.query.job_level}&&job_location=${this.$route.query.job_location}`
        )
        .then((res) => res.data)
        .then((data) => {
          this.posts = data;
          //console.log(data.data);
        });
       }else if (this.$route.query.company_id !== null && this.$route.query.job_level == null && this.$route.query.job_location == null ){
          axios
        .get(
          `/api/search_self?page=${page}&company_id=${this.$route.query.company_id}&&job_level=&&job_location=`
        )
        .then((res) => res.data)
        .then((data) => {
          this.posts = data;
          //console.log(data.data);
        });

       }else if (this.$route.query.job_level !== null) {
          axios
        .get(
          `/api/search_self?page=${page}&job_level=${this.$route.query.job_level}`
        )
        .then((res) => res.data)
        .then((data) => {
          this.posts = data;
          //console.log(data.data);
        });
       }
       else if (this.$route.query.job_location !== null){
          axios
        .get(
          `/api/search_self?page=${page}&job_location=${this.$route.query.job_location}`
        )
        .then((res) => res.data)
        .then((data) => {
          this.posts = data;
          //console.log(data.data);
        });
       }
       else{
          axios
        .get(
          `/api/search_self?page=${page}`
        )
        .then((res) => res.data)
        .then((data) => {
          this.posts = data;
          //console.log(data.data);
        });
       }
    },
  },
};
</script>

<style>
</style>