<template>
  <div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarTogglerDemo01"
          aria-controls="navbarTogglerDemo01"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <a class="navbar-brand" href="/"
            ><img :src="'../assets/img/jobFinder/jobFinder.png'" alt=""
          /></a>
          <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pelatihan</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" tabindex="-1" aria-disabled="true"
                >Hire</a
              >
            </li>
          </ul>
          <form class="d-flex mr-9">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">
              Search
            </button>
          </form>
          <div class="navbar-nav ml-2">
            <a class="btn btn-main inter font-size14" href="/login"
              >Daftar / Masuk</a
            >
          </div>
        </div>
      </div>
    </nav>
    <div class="row">
    <div class="col-sm-12 col-md-4 col-xl-4 mt-4 ml-4">
        <Sidebar
          @get-by-category="getByCategory"
          @get-by-job-level="getByJobLevel"
          @get-by-employmentType="getByEmploymentType"
          @get-by-education="getByEducation"
          @get-by-salary="getBySalary"
        />
      </div>
      <div class="col-sm-12 col-md-6 col-xl-6 mt-4 ml-4">
      <!-- <div class="row"> -->
        <div class="mr-auto poppins font-size22 font-weight-bold col-6">
          Rekomendasi pekerjaan
        </div>
      <!-- </div> -->
      
      <div v-for="post in posts_card.data" :key="post.id">
        <!-- <section class="container"> -->
          <div class="row">
            <!-- <div class="col-6"> -->
              <a :href="`/job/${post.id}-${post.job_title}`" target="_blank">
                <div class="row mt-5 shadow mr-2 p-3">
                  <div class="col-3 d-flex align-items-center">
                    <img :src="'../' + post.logo" alt="" />
                  </div>
                  <div class="col-5">
                    <span
                      class="font-weight-bold font-size16 line-height50 mb-1"
                    >
                      {{ post.job_title }}
                    </span>
                    <br />
                    <span class="text-grey">
                      <i class="fas fa-map-marker-alt"></i>
                      Lokasi : {{ post.job_location }}
                    </span>
                    <br />
                    <span class="text-softGrey font-size16"
                      >Sallary IDR {{ post.salary }}/ bulan</span
                    >
                  </div>
                  <div class="col-4 text-right">
                    <span class="line-height50"
                      ><i class="fa fa-bookmark-o fa-2x mainColor"></i
                    ></span>
                    <br />
                    <span>
                      <a class="btn btn-main roboto">
                        <i class="fa fa-calendar"></i>
                        {{ post.deadline.slice(0, -9) }}
                      </a>
                    </span>
                  </div>
                </div>
              </a>
            <!-- </div> -->
          </div>
        <!-- </section> -->
      </div>


       <div class="my-4 text-left small">
      <div class="d-block py-2 text-muted">
        {{ posts_card.total }} Total Jobs found with matching search
      </div>
      <div class="mb-4 d-flex text-left">
        <pagination
          class="custom-pagination"
          :data="posts_card"
          @pagination-change-page="getResults"
        ></pagination>
      </div>
    </div>
       </div>
   
    </div>
    <jobFinder-footer></jobFinder-footer>
  </div>
</template>

<script>
import Sidebar from "./Sidebar";
export default { 
  name: "searchResultUser",
  components: {
    Sidebar,
  },
  // props: ["posts_card"],
  data() {
    return {
      posts_card: [],
    };
  },
  mounted() {
    axios
      .get(`/api/search_self`)
      .then((res) => res.data)
      .then((data) => {
        this.posts_card = data;
        console.log(data);
      });
  },


methods: {
  getResults(page = 1) {
    axios
      .get(`/api/search_self?page=${page}`)
      .then((res) => res.data)
      .then((data) => {
        this.posts_card = data;
        //console.log(data);
      });
  }
}
};

</script>

<style>
</style>