<template>
<div>
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top mb-10">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="/"><img :src="'../assets/img/jobFinder/jobFinder.png'" alt="" /></a>
      <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
        <li class="nav-item mr-4">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item mr-4">
          <a class="nav-link" href="#">Pelatihan</a>
        </li>
        <li class="nav-item mr-4">
          <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Hire</a>
        </li>
      </ul>
      <form class="d-flex mr-4">
        <input class="form-control me-5" type="search" placeholder="Kata Kunci" aria-label="Search">
      </form>
      <form class="d-flex mr-4">
        <input class="form-control me-5" type="search" placeholder="Lokasi" aria-label="Search">
      </form>
      <form class="d-flex mr-4">
        <input class="form-control me-5" type="search" placeholder="Jabatan" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <div class="navbar-nav ml-2">
       <a class="btn btn-main inter font-size14" href="/login">Daftar / Masuk</a>
      </div>
    </div>
  </div>
</nav>
<div class="row">
      <div class="col-sm-12 col-md-12 col-xl-12" style="padding:25px">
        <div v-if="posts.length < 1">
          <p class="card-header">No Results</p>
          <div class="card-body bg-white text-center">
            <div class="card-text">
              <img
                src="images/search-not-found.png"
                alt="search-not-found-clip"
              />
              <h4>
                No Jobs found <br />
                <span class="text-muted font-size-12px"
                  >Please search for another keyword.</span
                >
              </h4>
            </div>
          </div>
        </div>
        <div class="card" v-else>
      <div class="search-result">
    <div class="card mt-md-0 mt-3">
      <div class="card-body row p-3">
        <div class="col-6">
          <h1 class="h6" id="job-count">
            Menampilkan {{ posts.from }} - {{ posts.to }} dari {{ posts.total }}
          </h1>
        </div>
        <div class="col-6">
          <ul class="nav nav-inline float-right">
            <li class="nav-item mr-3">
              <a href="#" class="text-secondary">
                <span class="icon-calendar"></span>
                Di posting: <span id="date_val"> Sepanjang Hari {{ meta.from }}</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="posts">
      <div class="card mt-3 hover-shadow" v-for="post in posts" :key="post.id">
        <div class="card-body">
          <div class="col-sm-12 col-md-12 col-12 col-lg-12">
            <div class="row align-items-center text-center text-lg-left">
              <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3 pt-2 text-center">
                <img
                  class="border p-2 img-fluid"
                  :src="`/${post.logo}`"
                  width="100px"
                /><br><a class="btn inter font-size14 mt-2"  
                    :href="`/job/${post.id}-${post.job_title}`"
                    target="_blank" style="background-color:#E60078; color:#FFFFFF">Lamar Sekarang</a>
              </div>
                  <div
                    class="col-xs-12 col-sm-12 col-md-9 col-lg-9 pl-0 pl-md-2 pb-2"
                  >
                    <h5 class="secondary-link font-weight-bold">
                      <a
                        :href="`/job/${post.id}-${post.job_title}`"
                        target="_blank"
                      >
                        {{ post.job_title }}
                      </a>
                    </h5>
                    <h6 class="mt-2">
                      <a
                        :href="`/employer/${post.id}-${post.title}`"
                        target="_blank"
                        class="text-dark"
                      >
                        {{ post.title }}
                      </a>
                    </h6>

                    <div class="small my-1">
                      <span>Alamat: </span>
                      <span>{{ post.job_location }}</span>
                    </div>

                    <div class="small">
                      <span class="text-muted">Salary:</span>
                      <span class="text-info">
                        {{ post.salary }} ||  {{ post.job_level }} 
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer py-2">
              <div class="d-inline">
                <span class="text-muted">
                  <i class="fas fa-clock"></i> Lamar Sebelum:
                  {{ post.deadline.slice(0, -9) }}</span
                >
              </div>
              <div class="d-inline float-right">
                <span class="text-muted mr-2">
                  <span class="fas fa-eye mr-1"></span>
                  Dilihat: {{ post.views }}
                </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="my-4 text-center small">
            <div class="d-block py-2 text-muted">
              {{ posts.total }} Total Jobs found with matching search
            </div>
            <div class="d-flex justify-content-center">
               <!-- <paginate v-if="max" class="custom-pagination"
                  :page-count="max"
                  :container-class="'pagination'"
                  :click-handler="clickCallback">
                </paginate>
                <div v-else>
                Loading...
                </div> -->
              <!-- <pagination
                class="custom-pagination"
                :data="posts"
                @pagination-change-page="getJobs"
              ></pagination> -->
            </div>
            </div>

          </div>
        </div>
      </div>
      <jobFinder-footer></jobFinder-footer>
</div>
</template>

<script>
export default {
  name: "searchResult",
 // props: ["posts", "from", "to", "total"],
  // props: ["from", "to", "total"],
   data() {
      return {
      posts: [],  
      max: null,
      meta:[]
      }
    },
   watch: {
     "$route.params.key"(){
       this.$Progress.start();
       this.searchHome();
        this.$Progress.finish();
     },
      "$route.params.key2"(){
       this.$Progress.start();
       this.searchHome();
        this.$Progress.finish();
     },
      "$route.params.key3"(){
       this.$Progress.start();
       this.searchHome();
        this.$Progress.finish();
     },
   },
   created() {
      this.searchHome();
    // this.getJobs();
   },
   mounted() {
    // Pretend we're getting from vuex
    setTimeout(() => {
      this.max = 3;
    }, 1000);
  },
   methods: {
    clickCallback: function(page) {
          console.log(page);
        },
    // getJobs(page = 1) {
      

    searchHome(){
        //  this.$Progress.start();
        // if (this.$route.params.key !== "" && this.$route.params.key !== null) {
         this.loading = true;
                axios
              .get(`/api/search_self?company_id=${this.$route.params.key}&&job_level=${this.$route.params.key2}&&job_location=${this.$route.params.key3}`)
                    .then((res) => res.data)
                    .then((data) => {
                    this.posts = data;
                     console.log(data.data);
                    //----betul
                   // console.log(data);
                    // this.$Progress.finish();
                    })
                // this.$Progress.finish();
       }
      //  else{
       
      //    this.loading = true;
      //           axios
      //         .get(`/api/search_self?page=${page}`)
      //               .then((res) => res.data)
      //               .then((data) => {
      //                 this.posts = data;
      //                 console.log(data.data);
      //               })
      //               .catch((err) => {
      //                 console.log(err.message);
      //               });
      //  }
      },
    // }
  // }
      
};
</script>

<style>
</style>