<template>
  <div>
    <div class="card p-0 m-0">
      <div class="card-body p-3">
        <div class="d-flex align-items-center small mb-0">
          <i class="fas fa-search mr-1"></i>
          <strong>Filter Pencarian Kerja</strong>
        </div>
        <a
          href="#"
          class="job-filter d-md-none d-none"
          data-toggle="collapse"
          data-target="#accordion"
          aria-expanded="true"
          aria-controls="accordion"
        >
          <i class="icon icon-list"></i> Filter
        </a>
      </div>
    </div>
    <div id="accordion">
      <div class="card border-top-0">
        <div class="card-body p-3" id="jobCategories">
          <div class="pb-0">
            <div class="card-title mb-1">Berdasarkan Kategori</div>
            <div class="card-body p-0">
              <div class="form-group">
                <select
                  name="job_category"
                  class="form-control"
                  placeholder="Filter by Job Category"
                  @change="filterCategory($event)"
                >
                  <option disabled selected value>
                    -- Pilih --
                  </option>
                  <option
                    v-for="category in categories"
                    :value="category.id"
                    :key="category.id"
                  >
                    {{ category.category_name }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <hr class="my-3" />
          <div class="pb-0">
            <div class="card-title mb-1">Berdasarkan Posisi</div>
            <div class="card-body p-0">
              <div class="form-group">
                <select
                  name="job_category"
                  class="form-control"
                  placeholder="Filter by Job Category"
                  @change="filterJobLevel($event)"
                >
                  <option disabled selected value>
                    -- Pilih --
                  </option>
                  <option value="Senior level">Senior level</option>
                  <option value="Mid level">Mid level</option>
                  <option value="Top level">Top level</option>
                  <option value="Entry level">Entry level</option>
                </select>
              </div>
            </div>
          </div>
          <hr class="my-3" />
          <div class="pb-0">
            <div class="card-title mb-1">Tingkat Pendidikan</div>
            <div class="card-body p-0">
              <div class="form-group">
                <select
                  name="job_category"
                  class="form-control"
                  placeholder="Filter by Job Category"
                  @change="filterEducation($event)"
                >
                  <option disabled selected value>
                    -- Pilih --
                  </option>
                  <option value="Bachelors">Diploma</option>
                  <option value="High School">SMU</option>
                  <option value="Master">Sarjana</option>
                  <option value="SEE Mid School">S2</option>
                  <option value="Other">Lainnya</option>
                </select>
              </div>
            </div>
          </div>
          <hr class="my-3" />
          <div class="pb-0">
            <div class="card-title mb-1">Kisaran Gaji</div>
            <div class="card-body p-0">
              <div class="form-group">
                <select
                  name="job_category"
                  class="form-control"
                  placeholder="Filter by Job Category"
                  @change="filterSalary($event)"
                >
                  <option disabled selected value>
                    -- Pilih --
                  </option>
                  <option value="4-5jt">4-5jt</option>
                  <option value="5-8jt">5-8jt</option>
                  <option value="8-10jt">8-10jt</option>
                  <option value="10-50jt">10-50jt</option>
                  <option value="Other">Lainnya</option>
                </select>
              </div>
            </div>
          </div>
          <hr class="my-3" />
          <div class="pb-0">
            <div class="card-title mb-1">Jenis Pekerjaan</div>
            <div class="card-body p-0">
              <div class="form-group">
                <select
                  name="job_category"
                  class="form-control"
                  placeholder="Filter by Job Category"
                  @change="filterEmploymentType($event)"
                >
                  <option disabled selected value>
                    -- Pilih --
                  </option>
                  <option value="Full Time">Penuh Waktu</option>
                  <option value="Part Time">Part Time</option>
                  <option value="Freelance">Freelance</option>
                  <option value="Internship">Magang</option>
                  <option value="Trainneship">Pelatihan</option>
                  <option value="Volunter">Sukarelawan</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "sidebar-component",
  data() {
    return {
      categories: [],
    };
  },
  mounted() {
    this.setCategoies();
  },
  methods: {
    setCategoies() {
      axios
        .get("/api/company-categories")
        .then((res) => res.data)
        .then((data) => {
          this.categories = JSON.parse(JSON.stringify(data));
        });
    },
    filterCategory(e) {
      this.$emit("gets-by-category", e.target.value);
    },
    filterEmploymentType(e) {
      this.$emit("get-by-employmentType", e.target.value);
    },
    filterEducation(e) {
      this.$emit("get-by-education", e.target.value);
    },
     filterSalary(e) {
      this.$emit("get-by-salary", e.target.value);
    },
    filterJobLevel(e) {
      this.$emit("get-by-job-level", e.target.value);
    },
  },
};
</script>

<style>
</style>