/*
-----------------------------------------------------------------------
  Header CSS
-----------------------------------------------------------------------
*/

.header-area {
    padding: 50px 0;

    // Header Default
    &.header-default {
        background-color: $white;
        padding: 43px 175px 42px;
        position: relative;
        z-index: 99;
        @media (max-width: 1799px) {
            padding: 43px 0 42px;
        }
        //@media (max-width: 1279px) {
        //    padding: 43px 0 42px;
        //}
        //@media #{$lg-device} {
        //    padding: 43px 100px 42px;
        //}
        //@media #{$md-device} {
        //    padding: 25px 50px 20px;
        //}
        //@media #{$sm-device} {
        //    padding: 20px 0;
        //}

        .container {
            @media (min-width: 1800px) {
                max-width: 1456px;
                padding-left: 0;
                padding-right: 10px;
            }
            @media (max-width: 1799px) {
                max-width: 1200px;
                padding-left: 0;
                padding-right: 10px;
            }
            @media #{$lg-device} {
                max-width: 960px;
            }
            @media #{$md-device} {
                max-width: 720px;
            }
            @media #{$sm-device} {
                max-width: 540px;
            }
        }

        .row {
            align-items: center;
            display: flex;
            flex-wrap: wrap;
            .col_6_1338 {
                position: relative;
                width: 100%;
                flex: 0 0 50%;
                max-width: 50%;
                @media (max-width: 1280px) {
                    flex: 0 0 50%;
                    max-width: 50%;
                }

                &.col_lg_2_1338 {
                    position: relative;
                    width: 100%;
                    -ms-flex: 0 0 16.666667%;
                    flex: 0 0 7.666667%;
                    max-width: 100%;

                    @media (max-width: 1295px) {
                        flex: 0 0 6.666667%;
                    }
                    @media (max-width: 1240px) {
                        -ms-flex: 0 0 16.666667%;
                        flex: 0 0 22.666667%;
                        max-width: 100%;
                    }
                }
                &.col_lg_10_1338 {
                    position: relative;
                    width: 100%;
                    flex: 0 0 90.333333%;
                    max-width: 100%;

                    @media (max-width: 1295px) {
                        flex: 0 0 90.1%;
                        max-width: 100%;
                    }
                    @media (max-width: 1240px) {
                        flex: 0 0 75%;
                        max-width: 100%;
                    }
                }
            }
        }

        .header-align {
            align-items: center;
            display: flex;
            justify-content: flex-end;

            .header-navigation-area {
                @media (max-width: 1240px) {
                    display: none;
                }
                .main-menu {
                    & > li {
                        margin-right: 0;
                        &:first-child {
                            & > a {
                                padding-left: 0;
                            }
                        }
                        &:last-child {
                            margin-right: 0;
                            & > a {
                                padding-right: 0;
                            }
                        }
                        & > a {
                            padding: 7px 22px;
                            @media (max-width: 1499px) {
                                padding: 7px 15px;
                            }
                        }
                        &.has-submenu {
                            & > a {
                                &:before {
                                    display: none;
                                }
                            }
                            .submenu-nav {
                                background-color: $white;
                                border: none;
                                border-radius: 0 0 5px 5px;
                                box-shadow: 0 20px 80px 0 rgba(171, 181, 189, 0.35);
                                left: -10px;
                                margin-top: 25px;
                                min-width: 195px;
                                &:before {
                                    height: 45px;
                                }
                                & > li {
                                    a {
                                        color: $black-0e;
                                        &:hover {
                                            color: $theme-color;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .header-action-area {
                margin-left: 20px;
                position: relative;
                @media (max-width: 1325px) {
                    margin-left: 0px;
                }
                &.btn-style {
                    justify-content: center;
                    background-color: transparent;
                    border-radius: 5px;
                    color: $white;
                    font-size: 14px;
                    font-weight: $font-weight-bold;
                    border: 2px solid white;
                    box-shadow: none;
                    height: 35px;
                    width: 80px;
                    @media (max-width: 1240px) {
                        display: none;
                    }
                    @media (min-width: 938px) {
                        margin-left: 1px;
                    }
                    @media #{$sm-device} {
                        font-size: 14px;
                        padding: 5px 9px 7px 16px;
                    }
                    .icon-style {
                        background-color: $white;
                        //border-radius: 50%;
                        color: $theme-color2;
                        display: inline-block;
                        font-size: 18px;
                        height: 50px;
                        line-height: 50px;
                        margin-left: 18px;
                        width: 50px;
                        @media #{$xl-device} {
                            height: 35px;
                            line-height: 35px;
                            margin-left: 5px;
                            width: 35px;
                        }
                        @media #{$sm-device} {
                            height: 30px;
                            line-height: 30px;
                            width: 30px;
                            margin-left: 9px;
                        }
                    }
                    //&:hover {
                    //    background-color: $theme-color;
                    //}
                }
                &.btn-style2 {
                    justify-content: center;
                    background-color: $theme-color;
                    border-radius: 5px;
                    color: $white;
                    font-size: 14px;
                    font-weight: $font-weight-bold;
                    border: 2px solid white;
                    box-shadow: none;
                    height: 35px;
                    width: 120px;
                    @media (max-width: 1240px) {
                        display: none;
                    }
                    @media (min-width: 938px) {
                        margin-left: 1px;
                    }
                    @media #{$sm-device} {
                        font-size: 14px;
                        padding: 5px 9px 7px 16px;
                    }
                    .icon-style {
                        background-color: $white;
                        //border-radius: 50%;
                        color: $theme-color2;
                        display: inline-block;
                        font-size: 18px;
                        height: 50px;
                        line-height: 50px;
                        margin-left: 18px;
                        width: 50px;
                        @media #{$xl-device} {
                            height: 35px;
                            line-height: 35px;
                            margin-left: 5px;
                            width: 35px;
                        }
                        @media #{$sm-device} {
                            height: 30px;
                            line-height: 30px;
                            width: 30px;
                            margin-left: 9px;
                        }
                    }
                    //&:hover {
                    //    background-color: $theme-color;
                    //}
                }
            }
        }

        &.sticky-header {
            &.is-sticky {
                animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
                background-color: $white;
                box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
                left: 0;
                top: 0;
                position: fixed;
                padding: 15px 0;
                width: 100%;
                z-index: 99;
                .container {
                    @media #{$xs-device} {
                        max-width: none;
                        padding-left: 12px;
                        padding-right: 12px;
                    }
                }
                .header-logo-area {
                    .logo {
                        &-main {
                            display: none;
                        }
                        &-light {
                            display: block;
                        }
                    }
                }
                .header-align {
                    .header-navigation-area {
                        .main-menu {
                            & > li {
                                &:after {
                                    top: 63px;
                                }
                                & > a {
                                    color: $black-0e;
                                    &:hover {
                                        background-color: transparent;
                                        color: $theme-color;
                                    }
                                }
                                &:hover > {
                                    a {
                                        color: $theme-color;
                                        background-color: transparent;
                                        &:after {
                                            display: none;
                                        }
                                    }
                                }
                                &.has-submenu {
                                    & > a {
                                        &:before {
                                            display: none;
                                        }
                                    }
                                    & > .submenu-nav {
                                        margin-top: 26px;
                                        &:before {
                                            height: 44px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .header-action-area {
                        .btn-style {
                            justify-content: center;
                            background-color: $white;
                            border-radius: 5px;
                            color: $black;
                            font-size: 14px;
                            font-weight: $font-weight-bold;
                            border: 2px solid $theme-color;
                            box-shadow: none;
                            height: 35px;
                            width: 80px;
                            @media (max-width: 1240px) {
                                display: none;
                            }
                            @media (min-width: 938px) {
                                margin-left: 1px;
                            }
                            @media #{$sm-device} {
                                font-size: 14px;
                                padding: 5px 9px 7px 16px;
                            }
                            .icon-style {
                                background-color: $white;
                                //border-radius: 50%;
                                color: $theme-color2;
                                display: inline-block;
                                font-size: 18px;
                                height: 50px;
                                line-height: 50px;
                                margin-left: 18px;
                                width: 50px;
                                @media #{$xl-device} {
                                    height: 35px;
                                    line-height: 35px;
                                    margin-left: 5px;
                                    width: 35px;
                                }
                                @media #{$sm-device} {
                                    height: 30px;
                                    line-height: 30px;
                                    width: 30px;
                                    margin-left: 9px;
                                }
                            }
                            //&:hover {
                            //    background-color: $theme-color;
                            //}
                        }
                        .btn-style2 {
                            justify-content: center;
                            background-color: $theme-color;
                            border-radius: 5px;
                            color: $black;
                            font-size: 14px;
                            font-weight: $font-weight-bold;
                            border: 2px solid $theme-color;
                            box-shadow: none;
                            height: 35px;
                            width: 120px;
                            @media (max-width: 1240px) {
                                display: none;
                            }
                            @media (min-width: 938px) {
                                margin-left: 1px;
                            }
                            @media #{$sm-device} {
                                font-size: 14px;
                                padding: 5px 9px 7px 16px;
                            }
                            .icon-style {
                                background-color: $white;
                                //border-radius: 50%;
                                color: $theme-color2;
                                display: inline-block;
                                font-size: 18px;
                                height: 50px;
                                line-height: 50px;
                                margin-left: 18px;
                                width: 50px;
                                @media #{$xl-device} {
                                    height: 35px;
                                    line-height: 35px;
                                    margin-left: 5px;
                                    width: 35px;
                                }
                                @media #{$sm-device} {
                                    height: 30px;
                                    line-height: 30px;
                                    width: 30px;
                                    margin-left: 9px;
                                }
                            }
                            //&:hover {
                            //    background-color: $theme-color;
                            //}
                        }
                    }
                }
            }
        }

        &.transparent {
            background-color: transparent;
            position: absolute;
            left: 0;
            top: -20px;
            width: 100%;
            z-index: 9;
            .header-align {
                .header-navigation-area {
                    .main-menu {
                        & > li {
                            margin-right: 23.4px;
                            position: relative;
                            @media (max-width: 1799px) {
                                margin-right: 7px;
                            }
                            &:after {
                                content: "";
                                height: 0;
                                left: 0;
                                position: absolute;
                                top: 55px;
                                width: 100%;
                                @include transition(0.3s);
                            }

                            &:first-child {
                                margin-left: 0;
                                & > a {
                                    padding: 7px 22.07px;
                                    @media (max-width: 1499px) {
                                        padding: 7px 15px;
                                    }
                                }
                            }
                            &:last-child {
                                margin-right: 0;
                                & > a {
                                    padding: 7px 22.07px;
                                    @media (max-width: 1499px) {
                                        padding: 7px 15px;
                                    }
                                }
                            }

                            & > a {
                                color: $white;
                                position: relative;
                                z-index: 1;
                                &:after {
                                    content: "";
                                    height: 0;
                                    left: 0;
                                    pointer-events: none;
                                    position: absolute;
                                    top: -63px;
                                    width: 100%;
                                    z-index: -1;
                                    @include transition(0.3s);
                                }
                            }
                            &:hover,
                            &.active {
                                &:after {
                                    background-color: $theme-color2;
                                    height: 5px;
                                }
                                & > a {
                                    background-color: transparent;
                                    color: $white;
                                    &:after {
                                        background-color: $theme-color3;
                                        height: 108px;
                                    }
                                }
                            }
                            &.has-submenu {
                                & > a {
                                    &:before {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


// Logo Style
.header-logo-area {
    max-width: 180px;
    padding-left: 20px;
    @media (max-width: 500px) {
        padding-left: 10px;
    }
    @media #{$md-device} {
        max-width: 150px;
    }
    @media #{$sm-device} {
        max-width: 130px;
    }
    .logo {
        &-light {
            display: none;
        }
    }
}

// Header Action Style
.header-action-area {
    .btn-menu {
        background-color: transparent;
        border: none;
        box-shadow: none;
        height: 18px;
        margin-left: 1px;
        position: relative;
        width: 35px;
        @media (min-width: 1240px) {
            display: none;
        }
        span {
            background-color: $theme-color2;
            border-radius: 2px;
            display: block;
            height: 3px;
            position: absolute;
            right: 0;
            transition: 0.4s;
            width: 100%;

            &:first-child {
                top: 0;
                width: 30px;
            }

            &:nth-child(2) {
                top: 50%;
                transform: translateY(-50%);
                width: 100%;
            }

            &:last-child {
                bottom: 0;
                width: 25px;
            }
        }

        &:hover {
            span {
                background-color: $theme-color;
                &:first-child,
                &:last-child {
                    width: 100%;
                }
            }
        }
    }

    .btn-theme {
        &.btn-style {
            background-color: $theme-color;
            border-radius: 32.5px;
            color: $black-0e;
            padding: 6px 9px 8px 31px;
            @media #{$xl-device} {
                padding: 7px 9px 7px 20px;
            }
            @media #{$sm-device} {
                font-size: 14px;
                padding: 5px 9px 7px 16px;
            }
            .icon-style {
                background-color: $white;
                border-radius: 50%;
                color: $theme-color2;
                display: inline-block;
                font-size: 18px;
                height: 50px;
                line-height: 50px;
                margin-left: 18px;
                width: 50px;
                @media #{$xl-device} {
                    height: 35px;
                    line-height: 35px;
                    margin-left: 5px;
                    width: 35px;
                }
                @media #{$sm-device} {
                    height: 30px;
                    line-height: 30px;
                    width: 30px;
                    margin-left: 9px;
                }
            }
            &:hover {
                background-color: $theme-color2;
            }
        }
    }
}

